[2015-08-13 02:28] ZaneDubya commented on #202
I cannot equip it in my version of the legacy client (4.x.x.x)

[2015-08-13 02:31] paezao commented on #259
This happens to bandages as well.

[2015-08-13 02:53] paezao commented on #259
Looks like the offset as 5 works with most stuff. It doesnt work for coins though but that works getting the offset from ItemData.Unkown4.

[2015-08-13 11:22] ZaneDubya commented on #202
This may be the only item that the developers determined should be equippable after it was originally introduced. Then again, there may be others. I suggest the following 'fix' for this issue:
1. When the player mobile receives a list of worn equipment, check the item data for each item in the list. If the item data's AnimID == 0, then unwear the equipment, placing it in the player's backpack, and

[2015-08-13 11:26] ZaneDubya commented on #260
@robertdeclaux Is there a way to turn .allshow off? When you do so, does the framerate return to normal?

[2015-08-13 12:11] PatrikSamuelTauchim commented on #260
@robertdeclaux @ZaneDubya Can you tell us how many mobiles we have to actually spawn to notice this issue? We can try to reproduce this with RunUO.

[2015-08-13 12:26] ZaneDubya commented on #260
@Eskymak That would be awesome! A random NPC spawner?!

It was a ton of mobiles. Looked like at least enough to fill the screen at 1024x768. Sorry I don't have a picture. :(

[2015-08-13 12:27] ZaneDubya commented on #257
This issue has ballooned into a brand new html layout engine.

[2015-08-13 19:14] Eskymak opened #262 "OutOfRangeException"
Some specific NPC in range probably causing this, sometimes it crashes right on entering world in specific area, sometimes after some steps.
[code]

[2015-08-13 19:27] PatrikSamuelTauchim commented on #260
@ZaneDubya Just tested with few hundreds of NPC at FullHD. RunUO was running on the same VM and probably making performance bad but...
![ultimaxna](https://cloud.githubusercontent.com/assets/11310587/9259495/2ba0cc0c-420a-11e5-8e49-9cdeba2eeded.jpg)
When I was transferring screenshot and client was on  background, I faced another #262 and cannot login at this area anymore, even it was running for

[2015-08-13 19:42] Eskymak opened #263 "System.NullReferenceException was unhandled"
I got disconnected by RunUO because of "Too much data pending" (There were hundreds of NPC in logout area) and after attempt to login I got this...

[code]

[2015-08-13 19:55] Eskymak opened #264 "Cursor runs of out client window while closer to the bottom border"
When I move cursor close to the bottom of the client window, Windows cursor appears outside of client window. Bottom area of client is unreachable, cursor is running out of window.

Resolution was FullHD
![ultimaxna_cursor](https://cloud.githubusercontent.com/assets/11310587/9260078/20ad26c0-420e-11e5-9761-700087083941.jpg)

[2015-08-13 20:04] Eskymak opened #265 "Another System.IndexOutOfRangeException"
Many NPCs from spawner were being killed by town guards and lightning, client was running for a while and then ended with this.

[code]

[2015-08-13 20:39] robertdeclaux commented on #260
![1](https://cloud.githubusercontent.com/assets/11157985/9260972/b20e9e50-4213-11e5-8ec2-fc756b0070bc.png)
1500+ playes on screen, when i try to close allshow client crashes.

debug file has so many remove entity packets entire log from this sesion 28mb but the last lines are

Info 2015-08-13 23:36:28:1996 Server - > Client
Info 2015-08-13 23:36:28:1996 Id: 0x1D Name: Remove Entity Length: 5
Info

[2015-08-13 21:10] ZaneDubya commented on #262
Hi @Eskymak - could you send me the files necessary to replicate this error? I would need your runuo directory and instructions as to what to do. Thanks!

[2015-08-13 21:11] ZaneDubya commented on #263
Hi @Eskymak, see my question in #262.

[2015-08-13 21:11] ZaneDubya commented on #265
Hi @Eskymak, see my question in #262.

[2015-08-13 21:50] Eskymak commented on #262
@ZaneDubya
I wanted to make it more simple for you, so I tryed to reproduce this on clean RunUO 2.5, but I am not even able to login... It is just keeps crashing on entering world. Original client works fine and only change that I made to RunUO was datapath to .mul files.

I also wiped whole world and still same
[code]

[2015-08-13 22:04] PatrikSamuelTauchim commented on #262
@ZaneDubya OK, rgoing to test this on clean RunUO 2.5 to make it more simple

Ignore post before this that I removed, since this was caused by my "workaround" for one of those crashes. (i commented out crashing part)

[2015-08-13 22:10] PatrikSamuelTauchim commented on #263
@ZaneDubya Reproduced on clean RunUO 2.5
Steps to reproduce
- use command **[tilez 20 dummyfence**
- target right and then left side of the screen. This will spawn hundreds of NPC leading into "Too many data pending and disconnect"
- You will get Connecting lost and then you are at login screen
- Hit Next to login
- CRASH

[2015-08-13 22:15] PatrikSamuelTauchim commented on #265
@ZaneDubya  Reproduced in clean runuo 2.5
- Follow steps on #263
- You wont be able to login at place where you spawned those NPCs until they die (they are killed automatically by timer in 5 minutes)
- UltimaXNA also crashed, when I used **[SET MAP 0** on myself, so I ended in that area

Probably related to too many NPCs

[2015-08-14 15:31] ZaneDubya commented on #223
@robertdeclaux Curious, what are the cpu/gpu stats on your laptop?

[2015-08-14 16:12] fdsprod commented on #223
Sounds like a perfect opportunity for a plugin ;)

[2015-08-14 16:46] ZaneDubya opened #266 "Html link regions should be joined when they are split across multiple lines."
Currently, a html link region can only be rectangular, so if a link is split across two or more lines, it will be split into two or more regions. I'd like to make it so that a link region can include multiple rectangles. This should be a quick fix, but I'm quite done with the new html layout engine and want to move onto something fun again. ;)

[2015-08-14 17:31] ZaneDubya commented on #257
I have completed and am merging the new html layout engine. It may well cause graphical errors and crashes. Let me know if you find any. I will close this issue with M0.7; I assume that if there are any problems, they will have been discovered by then.

[2015-08-14 18:23] ZaneDubya commented on #263
Thanks @Eskymak. I was able to replicate the crash and I think I know how to fix it... Note that it is RunUO that is disconnecting us to begin with;

[code]

[2015-08-14 18:46] ZaneDubya commented on #263
Ah, I see you already wrote that in your summary! haha

Ok, should be fixed! Thanks for reporting this bug!

[2015-08-14 18:47] #263 closed

[2015-08-14 18:52] ZaneDubya commented on #262
Ok! I know what's causing this. The server is sending an item with an itemid > 0x4000. I wonder if the server is sending us an effect? Or perhaps an item that isn't included in the legacy client version I'm using?

The item ID that is sent is 0x7120. Is that used anywhere in the RunUO source code?

[2015-08-14 18:53] ZaneDubya commented on #262
And 0x5d20, and dd20, and 0x5120, and 0x9920... hm... and more... always ending in 0x0020 though.

Serials for these items are 0x007fff91, 0x007fff90, 0x007fff8f, and continue counting down from there.

[2015-08-14 19:13] ZaneDubya commented on #264
@Eskymak Try mousing out at the sides and compare the positions of the ultima cursor and window cursor. Is the y position of the cursor incorrect throughout the height of the window, but more incorrect as you approach the bottom? What is your DPI? Is Windows' scaling enabled?

[2015-08-14 19:16] ZaneDubya commented on #259
Interestingly, stacked items look fine on the ground. They only look weird in the inventory. I think this is a UI bug, not a bug reading data.

[2015-08-14 19:25] PatrikSamuelTauchim commented on #262
@ZaneDubya Probably some effect or maybe animation? Corpses? Noticed this crash when few NPC were fighting, crashing in area.

 0x7120 Is wall, 0x9920 is  part of flour mill

[2015-08-14 19:35] PatrikSamuelTauchim commented on #262
@ZaneDubya I thing it just crashed when NPC died.

[2015-08-14 19:39] PatrikSamuelTauchim commented on #262
@ZaneDubya  Just killed NPC with [KILL command => CRASH :-) After removing all corpses,  I was able to login in that area..

[2015-08-14 19:41] ZaneDubya commented on #262
Hmm. I thought the item Id for corpses was 2006.

[2015-08-14 19:44] PatrikSamuelTauchim commented on #262
It is...

[2015-08-14 19:48] PatrikSamuelTauchim commented on #262
@ZaneDubya I guess that is has something to do with equiped items (or hairs?) on corpse. When I kill naked NPC  or dog, it is just fine and not crashing. When i remove items from corpse in classic client, I can also login after that

[2015-08-14 19:51] PatrikSamuelTauchim commented on #262
Yep, removed spear from corpse and no crash anymore!

[2015-08-14 19:56] ZaneDubya commented on #262
But why all the different item ids?! :)

[2015-08-14 20:03] PatrikSamuelTauchim commented on #264
@ZaneDubya I think, that it has something to do with Windows taskbar.
Problem is there only when client window is maximalized.
When it is not maximalized, but is stretched to cover full screen, and even under taskbar, it works just fine.

[2015-08-14 20:05] PatrikSamuelTauchim commented on #264
@ZaneDubya When I set Windows taskbar to right side of screen, I have same issue on right side and no issue at bottom. :-)

[2015-08-14 20:08] PatrikSamuelTauchim commented on #262
Dont know, maybe for all directions?

[2015-08-14 21:00] ZaneDubya commented on #262
No, it's not a spear:

[code]

Serial is repeated, itemid is decremented by 0x0400 each item, hue increases by 1, and parent serial is always 0x00004000. Bizarre.

[2015-08-14 21:07] ZaneDubya commented on #262
More, from a few minutes later:
[code]

[2015-08-14 21:18] Eskymak opened #268 "Another System.NullReferenceException && System.InvalidCastException"
Something went wrong... :-(

Again, group of NPCs was fighting and getting killed while client crashed
[code]

When I tryed to login or go to affected are I got different one:
[code]
:-(

[2015-08-14 21:24] ZaneDubya commented on #262
Aha, I found out what was going on! RunUO now expects the Client to always handle a revision to packet 0x3C (container contents) that was introduced in patch 6.0.1.7. When I started programming the xna client in 2009, this was not the case.

Fixed in 74daa9ca0c03d9fd0dbb23e9df840418d6fbed73 - and my fix will handle both old RunUO and new RunUO. :)

[2015-08-14 21:24] #262 closed

[2015-08-14 21:25] ZaneDubya commented on #268
@Eskymak Try after the latest set of commits? 74daa9ca0c03d9fd0dbb23e9df840418d6fbed73 might fix this.

[2015-08-14 21:26] ZaneDubya commented on #264
Very interesting! I notice now that the trees in your screen shot do seem to be a little squashed. :)

[2015-08-14 21:28] PatrikSamuelTauchim commented on #262
Perfect, I noticed in client console (with packets enabled) that last packed from server before crash is this one!

[2015-08-14 21:29] ZaneDubya commented on #262
Cool! Thanks for tracking this down!

[2015-08-14 21:44] PatrikSamuelTauchim commented on #268
@ZaneDubya Looks fine, spawned lot of dummy npcs. even mages with spells and this kind of "effective" stuff, made epic battle and no crash.

Just got #265 so I will try to figure it out. Probably related to something that city guards do.

[2015-08-14 21:56] ZaneDubya commented on #268
Excellent, closing as addressed by 74daa9ca0c03d9fd0dbb23e9df840418d6fbed73

[2015-08-14 21:56] #268 closed

[2015-08-14 21:57] ZaneDubya commented on #265
Can you debug it when it crashes and see what bodyID is being referenced by UltimaXNA.Ultima.IO.AnimationData.checkCache? I had this error happen as well, and the BodyID was zero.

[2015-08-14 21:57] Eskymak opened #269 "Lightning effect does (sometimes) IndexOutOfRangeException"
Found this one while working on #265 I guess, this one should be easy! :-)

* Go to Britain center, where guards are (they will spawn when someone call them)
* [tilez 25 dummysuper
* lightning show will start once they will call guards
* spawn more if needed
* Eventually it will crash on one of those lightnings. It can run minutes with tens of lightnings on the same time or crash after few seconds

[2015-08-14 22:09] PatrikSamuelTauchim commented on #265
Sure, just tell me where to find this :-)

[2015-08-14 22:11] ZaneDubya commented on #265
Just follow the stack trace when it crashes :) When I'm debugging, I try to find out the first object with 'bad' data, and then figure out why it's in error.

[2015-08-14 22:23] PatrikSamuelTauchim commented on #265
Uhm, where? If in VS, there is so many numbers and information I can provide, but if you want just one, you need to be more specific :-/

[2015-08-14 22:34] PatrikSamuelTauchim commented on #265
Could it be this? Parameter values were disable by default :-/

[code]

[2015-08-14 23:15] PatrikSamuelTauchim commented on #264
@ZaneDubya  I also noticed issue with fonts on high resolution - they are not smooth while moving gump. It is probably also related to this. If not resolved after closing this, I will create new issue.

[2015-08-14 23:38] ZaneDubya commented on #264
@Eskymak Can you clarify? I think that your game play window was squashed, which will result in blurred textures. Is this what you're talking about?

[2015-08-14 23:42] ZaneDubya commented on #264
A fix for this would be to limit the display viewport to the size of the current game window...

[2015-08-14 23:48] ZaneDubya commented on #269
@Eskymak I am no longer getting this error, and I think I've fixed this. Please let me know if you can reproduce it.

[2015-08-14 23:54] ZaneDubya commented on #259
Simple fix.

[2015-08-14 23:54] #259 closed

[2015-08-14 23:57] ZaneDubya commented on #257
Skills scroll and vendor buy/sell menus are a little buggy...

[2015-08-15 09:02] PatrikSamuelTauchim commented on #269
@ZaneDubya I was not able to crash it, looks fixed. Thanks!

[2015-08-15 09:14] PatrikSamuelTauchim commented on #264
Yep, it is squashed when maximalized.
![ultimaxna_cursor2](https://cloud.githubusercontent.com/assets/11310587/9288276/fe48e918-4346-11e5-9537-d136180dee89.jpg)

[2015-08-15 10:37] ZaneDubya commented on #269
Thanks @Eskymak!

[2015-08-15 11:24] ZaneDubya commented on #257
Vendor buy/sell menus fixed. They look great, by the way.

[2015-08-15 12:12] ZaneDubya commented on #250
So this happens when an html attribute is (1) in a end closure tag (<example/>), (2) the attribute parameter is not enclosed in quotes, (3) the attribute parameter is not separated by a space from the end closure. So `<div width=4/>` would cause this problem.

Unfortunately, this is a problem with the html parser I use, and quite frankly I don't understand exactly how it parses data. But so long a

[2015-08-15 12:39] #250 closed

[2015-08-15 14:12] robertdeclaux commented on #257
Buy/sell menus are awesome! Can we just add some thing to them? Holding + or - icon down can increase or decrease the amount of the item (faster), its an usual thing for players they will want it later on...

[2015-08-15 14:13] robertdeclaux commented on #259
:+1:

[2015-08-15 14:14] robertdeclaux commented on #258
Working great!

[2015-08-15 14:16] robertdeclaux commented on #258
![ekran goruntusu 13](https://cloud.githubusercontent.com/assets/11157985/9289228/2ec6388c-4371-11e5-862f-bd3af4d53276.png)
Just a very small problem, duplicate message appears on console too.

[2015-08-15 14:16] robertdeclaux commented on #258
:+1:

[2015-08-15 14:37] ZaneDubya commented on #258
@robertdeclaux Do you mean the message occurs once, or twice in the console? Paste a screenshot? Thanks!

[2015-08-15 14:40] robertdeclaux commented on #260
Log when i try to close .allshow
![ultima xna](https://cloud.githubusercontent.com/assets/11157985/9289338/b256314a-4374-11e5-94e6-0039e506d581.png)

[2015-08-15 14:46] ZaneDubya commented on #257
@robertdeclaux Yes, we can do that. Pause for 1/2 second on mouse down and then add items at a rate of 5-10/second.

[2015-08-15 15:11] robertdeclaux commented on #257
That will be perfect!

[2015-08-15 15:24] robertdeclaux commented on #258
Sorry i mean chat log by "console", i just realized that chatting shows duplicated text too. It's not related to MsgType 0x03 i think.
![ekran goruntusu 13](https://cloud.githubusercontent.com/assets/11157985/9289490/8a52b49c-437a-11e5-8040-3fbaef30bc74.png)
![ekran goruntusu 16](https://cloud.githubusercontent.com/assets/11157985/9289499/b08c765c-437a-11e5-92cf-3276ba589d23.png)

[2015-08-15 16:15] ZaneDubya commented on #258
Haha, it shouldn't be down there? Ok! I'll remove it. :)

[2015-08-15 16:18] ZaneDubya commented on #257
Looks like html link regions for images are bugged...

[2015-08-15 16:20] ZaneDubya commented on #239
Mobile discarding was added in 02241e2d105a919323e6673ca65ea29a1faef89e.
What's left is to grey out gumps that reference discarded entities.

[2015-08-15 16:25] ZaneDubya commented on #242
Now that mobiles are discarded when out of range (see #239), it's time to fix this longstanding issue.

[2015-08-15 16:45] robertdeclaux commented on #258
Unless speaker is yelling it shouldn't be down there. :)

[2015-08-15 16:47] ZaneDubya commented on #258
That is JUST the information I needed. Thanks!

[2015-08-15 17:48] ZaneDubya opened #270 "Implement corpse clothing and hueing."
Corpses are currently unhued grey and do not respond to the server's corpse clothing packet. Obviously, this should be changed so that corpses match the legacy client's portrayal.

[2015-08-15 18:14] ZaneDubya commented on #113
![ss_for_github](https://cloud.githubusercontent.com/assets/7041719/9290206/9215ffac-434f-11e5-8739-0739567008d1.jpg)

[2015-08-15 19:23] naggie commented on #113
Ahhh.... Full HD :+1:

[2015-08-15 19:28] Vodacek commented on #113
Is RunUO sending you all items and mobiles on Full HD monitor? I am afraid that no.

[2015-08-15 19:29] naggie commented on #113
I think not, but it's still useful -- just seeing the context of everything around is nice. Maybe runUO can send more?

[2015-08-15 19:31] PatrikSamuelTauchim commented on #113
Nope, but I believe that should be possible to change that :-)

[2015-08-15 19:45] Vodacek commented on #113
for sure :-)

[2015-08-16 14:40] ZaneDubya commented on #260
WorldInput lines 217-219:

[code]

Your player object was disposed. That's bizarre.

[2015-08-16 15:21] robertdeclaux opened #271 "Casting a spell on an NPC with position.Z < 0 is bugged."
![1](https://cloud.githubusercontent.com/assets/11157985/9293812/d2ae78bc-4441-11e5-86e6-4c37886d0410.png)
![2](https://cloud.githubusercontent.com/assets/11157985/9293813/d2b39b76-4441-11e5-8485-f29b92e2bf3b.png)
When i cast spell on NPCs they disapper for 1-2 seconds then they come back from up and energy bolt animation moves very slow.

[2015-08-16 15:28] robertdeclaux opened #272 "Label messages (speech type 0x03) do not display on items in containers."
![ekran goruntusu 21](https://cloud.githubusercontent.com/assets/11157985/9293901/6514158e-4444-11e5-95ae-2695946057d9.png)
Single clicking on player vendor items does not show its name (or properties) but it appers on journal.

[2015-08-16 16:08] ZaneDubya opened #273 "Game window resolution sanity checking."
1. Selecting a resolution for the game window larger than the current on screen resolution should ~~fail~~ cause the current screen resolution to expand..
~~2. First item should be rechecked when the client window size is changed.~~
3. Fix #264
4. At no time should the player be allowed to select a full screen resolution larger than the maximum allowed full screen resolution, or a play window reso

[2015-08-16 16:09] ZaneDubya opened #274 "Limit number of sound effect instances."
1. Limit the number of available sound instances to 32 / perhaps 64?
2. When two instances of the same sound effect are played in the same frame, only play one.

[2015-08-16 16:18] ZaneDubya commented on #260
@robertdeclaux When you have a moment, I'd like to test this on your server. Let me know when/how I can log in. Thanks!

[2015-08-16 16:19] ZaneDubya commented on #220
@robertdeclaux I'd also like to test this one on your server, let me know when I can log in.

[2015-08-16 17:13] ZaneDubya commented on #242
Closing as implemented.

[2015-08-16 17:13] #242 closed

[2015-08-16 19:37] ZaneDubya commented on #274
Implemented in #276.

[2015-08-16 19:37] #274 closed

[2015-08-16 19:38] ZaneDubya commented on #254
Implemented in #276.

[2015-08-16 19:38] #254 closed

[2015-08-17 00:01] ZaneDubya opened #277 "Dragon Chest armor piece crashes paperdoll."
There is no paperdoll image associated with the Dragon Chest armor piece. Very strange.

[2015-08-17 00:02] ZaneDubya commented on #277
Found it; we weren't parsing Gump.def, which has paperdoll graphic translations for various ninja pieces and dragon pieces and other etc. pieces. Whatever, added now.

[2015-08-17 00:02] #277 closed

[2015-08-17 00:09] ZaneDubya commented on #248
Closing as addressed.

[2015-08-17 00:09] #248 closed

[2015-08-17 01:04] ZaneDubya commented on #206
Closing as not reproducible. If html crashes the client in the future, I will open a new issue.

[2015-08-17 01:04] #206 closed

[2015-08-17 12:36] ZaneDubya commented on #271
I cannot replicate this issue. Can you provide more detailed testing instructions?

That NPC is right on the edge of the client-server update range, which should be about 19 tiles. Certainly, it would be way off screen on the legacy client. It could have walked out of range, which would have bugged the effect graphic. I will take a look and see if I can fix that.

Try firing spells at closer npcs.

[2015-08-17 17:44] ZaneDubya commented on #239
Per runuo/@Derrick-, items/mobiles are discarded at 18 tiles away from player entity; multis at 22; custom houses at 24.

[2015-08-17 22:36] ZaneDubya commented on #202
Wait, hold on a sec. I can't equip it any more, which means this bug no longer exists. The fix was introducing the IsWearable flag in ItemData. I must have changed something in the past 30 days that makes this issue redundant.

Whatever, closing as addressed. I ripped out the stub for the equipment check too. The best code in the client is the code that isn't there. ;)

[2015-08-17 22:36] #202 closed

[2015-08-17 23:25] ZaneDubya opened #278 "Char Select: Enter should select first playable character."
In CharSelectScreen

[2015-08-17 23:35] ZaneDubya commented on #272
Single click does not show names on any item in any backpack.

[2015-08-17 23:39] ZaneDubya commented on #272
On Sphere, you have the option to send a Label (msg type 0x03) on clicking an item in a container. This should result in the name of the item being displayed above the item in the container.

[2015-08-17 23:40] ZaneDubya commented on #260
I believe this issue is fixed now. Thanks @robertdeclaux for letting me bugtest on your server.

[2015-08-17 23:40] #260 closed

[2015-08-17 23:46] ZaneDubya opened #279 "[go doom causes a crash."
Info 2015-08-14 16:06:56:7974 System.IO.IOException: No process is on the other end of the pipe.

   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.__ConsoleStream.Write(Byte[] buffer, Int32 offset, Int32 count)
   at System.IO.StreamWriter.Flush(Boolean flushStream, Boolean flushEncoder)
   at System.IO.StreamWriter.Write(Char[] buffer, Int32 index, Int32 c

[2015-08-17 23:58] robertdeclaux commented on #271
Zane found out that caused by -z positions.

[2015-08-18 14:15] ZaneDubya commented on #220
Fixed in #280. Thanks @robertdeclaux!

[2015-08-18 14:15] #220 closed

[2015-08-18 14:18] ZaneDubya commented on #279
This might have something to do with where the doom dungeon is located on the map...

[2015-08-18 14:20] ZaneDubya commented on #279
Nope, legacy client loads it fine. Hmmm.

[2015-08-18 14:42] ZaneDubya opened #281 "Add ability to place items on top of other items in Containers."
The legacy client allows you to place, say, a dagger on top of a death robe. Currently, the xna client does not allow this functionality. Should be added.

[2015-08-18 14:54] ZaneDubya opened #282 "Cannot drop items within a Multi."
Attempts to drop items within a multi fail.

[2015-08-18 14:55] ZaneDubya commented on #265
@Eskymak Can you still replicate this crash? I believe I've added a lot of error checking in the past week and this error might now be handled. Thank you!

[2015-08-18 15:07] ZaneDubya commented on #239
Done!

[2015-08-18 15:07] #239 closed

[2015-08-18 15:08] ZaneDubya commented on #282
... or onto any item, actually. Interestingly, this is the same bug as #281, but for world items, instead of inventory items!

[2015-08-18 15:24] #282 closed

[2015-08-18 15:24] #281 closed

[2015-08-18 16:12] ZaneDubya commented on #279
This has to do with attempting to load map patches from dif files that do not exist. Fixed.

[2015-08-18 16:12] #279 closed

[2015-08-18 16:13] ZaneDubya commented on #235
Forgive me if I've asked this question before, but do mobiles even have tooltips?

[2015-08-18 16:17] ZaneDubya opened #284 "Tilemap issues when player position.z is below 0."
This is very likely related to #271

[2015-08-18 16:44] PatrikSamuelTauchim commented on #235
@ZaneDubya Yes, if they are tamed for example.

[2015-08-18 17:06] PatrikSamuelTauchim commented on #269
@ZaneDubya Sorry, crashed again with current master. :-(

[code]

[code]

[2015-08-18 17:08] PatrikSamuelTauchim commented on #265
@ZaneDubya Nope, but got #269 instead :-D

[2015-08-18 20:54] ZaneDubya commented on #265
@Eskymak :(

[2015-08-19 00:58] #278 closed

[2015-08-19 01:11] ZaneDubya commented on #235
OK! This is in, and only took one line of (admittedly, a little hacky) code. :)

[2015-08-19 01:11] #235 closed

[2015-08-19 01:20] ZaneDubya commented on #241
Implemented!

[2015-08-19 01:20] #241 closed

[2015-08-19 01:21] ZaneDubya opened #285 "Movement is bugged when "teleport" movement received while moving."
To reproduce:
1. Tame an animal.
2. "All follow"
3. Start running around (might require a teleport).
4. Gaze at the crazy movement of you pet!

[2015-08-19 01:22] ZaneDubya opened #286 "Tooltips should be centered."
Currently tooltips are left-justified; the text within them should be centered. Not sure what it will take to achieve this. Might be really, really easy.

[2015-08-19 06:40] denizsokmen commented on #285
Have you tried it on runuo and is it like the pet suddenly teleports on you? If that's the case, that's how it works in RunUO to make sure your pet doesn't get out of your sight.

[2015-08-19 07:13] robertdeclaux commented on #257
Not sure related to this issue but on sphere text inputs does not sent to the server.
![ekran goruntusu 22](https://cloud.githubusercontent.com/assets/11157985/9350436/ba95e0de-4659-11e5-9206-0d4608ae384f.png)
Error message says there must be at least 3 chars on your input (blackrock). Another issue, font colors are different on UltimaXNA and default client.

Default client's colors
![ekran gorunt

[2015-08-19 12:15] ZaneDubya commented on #285
@denizsokmen Yes - although slightly more buggy than that! I think my movement routine gets confused when it receives a teleport move in the middle of another move.

[2015-08-19 12:16] ZaneDubya commented on #257
@robertdeclaux Thank you - I will see if I can't fix both of those issues.

[2015-08-19 13:34] ZaneDubya opened #287 "Add credits/license page to LoginGump."
Credits/license page should be accessible from LoginGump via a button. Credits should include all authors, included projects etc., and the license should include the exclusion of warranty and license information.

[2015-08-19 13:35] ZaneDubya opened #288 "Copy GPLv3 license to output directory on compile."

[2015-08-19 13:39] ZaneDubya commented on #287
Perhaps also include a contributor.txt file? And read these names in to the credits gump?

[2015-08-19 13:40] #288 closed

[2015-08-19 13:50] ZaneDubya commented on #286
This issue arise because a <center> tag only centers the containing block of elements, not the individual lines of elements.

[2015-08-19 14:03] ZaneDubya commented on #286
As a bonus feature, right-aligned text will also align properly!

[2015-08-19 14:10] ZaneDubya commented on #286
Implemented in 346d8d91f9b39f4505338454fe72cf3534d67b74. Closing as implemented.

[2015-08-19 14:10] #286 closed

[2015-08-19 15:30] ZaneDubya commented on #271
@robertdeclaux Where in the world is this occurring? Can you give me a xyz position?

[2015-08-19 15:59] robertdeclaux commented on #271
Destard dungeon (1176,2636,0,0)

[2015-08-19 16:45] ZaneDubya opened #289 "Implement packet 0xDF: Buff/debuff system."
see here: http://docs.polserver.com/packets/index.php?Packet=0xDF

[2015-08-19 16:50] ZaneDubya commented on #284
Nope, not related at all. But fixed.

[2015-08-19 16:58] ZaneDubya commented on #271
Error is in Effect ctors. I am setting the position of the mobile targeted. I wonder why I did that - it seems such a bad idea in retrospect...

[2015-08-19 17:11] ZaneDubya commented on #271
Fixed.

[2015-08-19 17:12] #271 closed

[2015-08-19 17:20] ZaneDubya opened #291 "Corpse z handling is incorrect when z < 0."
Many z < 0 bugs are evident throughout the code. I should do some thorough checking of how z is handled in WorldClient...

[2015-08-19 18:22] ZaneDubya commented on #291
Done! Still need to add corpse mirroring...

[2015-08-19 19:11] ZaneDubya commented on #291
Fixed!

[2015-08-19 19:11] #291 closed

[2015-08-19 19:36] ZaneDubya commented on #247
Corpse directions have been fixed. Corpses still need deferment. This will likely come with a fix to the way that Mobiles are deferred.

[2015-08-19 19:57] ZaneDubya opened #293 "MousePicking does not work on mobiles - but only sometimes."
I've noticed occasionally that clicking on a mobile doesn't count as a 'pick' action in the MousePicking class. It became more apparent that something is bugged after the new Mobile tooltips were implemented - tooltips only appear over small portions of the mobile. It could be that the MousePicking is not checking to see if the MobileView is flipped - or it could be that mobile view deferring is i

[2015-08-19 21:51] robertdeclaux opened #294 "Double clicking spell in spellbook index should cast the spell."
Double clicking on a spell opens the details page instead of casting the spell.

[2015-08-19 21:55] robertdeclaux opened #295 "Spell icons cast different spells"
![ekran goruntusu 4](https://cloud.githubusercontent.com/assets/11157985/9370039/fe6bdd00-46d5-11e5-88ee-c692e5058220.png)
For example if you click on energy bolt icon it casts dispel (which is previous spell).

[2015-08-19 22:03] robertdeclaux opened #296 "Summoning earth elemental, fire elemental by spell crashes client on SphereServer."
![ekran goruntusu 5](https://cloud.githubusercontent.com/assets/11157985/9370207/28d9f3f0-46d7-11e5-85c1-a021d6407ace.png)
Adding them does not crash client.

[2015-08-19 22:05] ZaneDubya commented on #295
The 'previous' comment makes this a perfect bug report! I know why this is happening and can fix it soon. Thank you!

[2015-08-19 22:05] ZaneDubya commented on #294
"double clicking on a spell" - where are you double clicking? Is this in the index?

[2015-08-19 22:06] ZaneDubya commented on #296
Hmmmmmmm... I'll have to take a look at this. Thank you for reporting!

[2015-08-19 22:08] robertdeclaux commented on #294
![ekran goruntusu 6](https://cloud.githubusercontent.com/assets/11157985/9370275/bbd8a5c0-46d7-11e5-89e4-76ed641de18a.png)
When we double click on earthquake (on default client) it casts the spell.

[2015-08-19 22:11] ZaneDubya commented on #294
Ok, I'll take a look at that. Thanks!

[2015-08-19 22:12] robertdeclaux commented on #294
It's not releated to this issue but on sphere (with old spellbook packets) opening spellbook takes nearly 1 second.

[2015-08-19 22:13] ZaneDubya commented on #294
Does it take that long on legacy client?

[2015-08-19 22:17] naggie commented on #295
zero/one offset confusion? :D

[2015-08-19 22:20] robertdeclaux commented on #294
No it is instant on legacy client, if we are preparing all the info pages when the spellbook gump shown may be that is causing it. Legacy client spell info pages have that 1 second lag.

This is the screen i mean by spell info pages
![ekran goruntusu 7](https://cloud.githubusercontent.com/assets/11157985/9370539/cef3b094-46d9-11e5-9cbb-1224054c2fcf.png)

[2015-08-20 12:42] ZaneDubya commented on #295
@naggie Nailed it ;)

[2015-08-21 00:42] Rex-deadwall opened #298 "press and holding ctrl-shift does not show individual lables for items on the ground."
pressing ctrl-shift only does an all names type of action for all mobiles, not items.
Can't drag-off the mobiles health gump from the missing ctrl-shift gump pop up.
Can't drag to pick up items on the ground because there's no pop up gump.
Can't target the pop up gump with a target.
https://dl.dropboxusercontent.com/u/5608436/ctrl-shift.webm
load the webm in firefox or chrome to view.

[2015-08-21 00:48] Rex-deadwall opened #299 "map button size and functionality"
pressing the Map button on the Menu Bar opens and closes the small gump map instead of opening the small map, then opening the big map, then opening the small map, etc.
view the web in chrome firefox.
https://dl.dropboxusercontent.com/u/5608436/Error-map.webm

[2015-08-21 00:54] Rex-deadwall commented on #299
also alt-R is the hardcoded hotkey for opening the map.

[2015-08-21 01:05] Rex-deadwall opened #300 "MissingFuction-HealthBarMenu"
you can drag off your from character and get the health bar, but double clicking it does not bring up the large stats gump.
https://dl.dropboxusercontent.com/u/5608436/MissingFuction-HealthBarMenu.webm
open webm in chrome or firefox

[2015-08-21 01:12] Rex-deadwall opened #301 "Error-Text Color"
The text color can be changed in the options menu from blue to something else, but it doesn't actually change it IG for the player.
The custom text color does not show up colored in the journal.
https://dl.dropboxusercontent.com/u/5608436/Error-TextColor.webm

[2015-08-21 01:55] ZaneDubya commented on #294
Ok @robertdeclaux, I'll rewrite the spellbook gump so that it only prepares the pages you are currently looking at.

[2015-08-21 02:07] ZaneDubya commented on #293
Fixed in 67d4c5240bd2613604dd07ca83a897bf2541d826.

[2015-08-21 02:07] #293 closed

[2015-08-21 02:09] ZaneDubya commented on #295
Fixed, thanks @robertdeclaux

[2015-08-21 02:09] #295 closed

[2015-08-21 02:18] ZaneDubya commented on #294
I should do a better job of keeping issues focused. I'm going to close this one and open a new one.

[2015-08-21 02:18] #294 closed

[2015-08-21 02:20] ZaneDubya opened #304 "Spellbook takes too long to load."
As it turns out, laying out and rendering 72 pages of text and graphic html elements causes a performance hit of about a second. Who saw that coming? ;)

As a good fix, set the spellbook up so that it only renders the two pages the player is currently looking at.
As a great fix, set up the asciifonts to render via spritebatch, instead of being written to a texture manually (lol, who am I kidding,

[2015-08-21 06:11] PatrikSamuelTauchim commented on #301
Yep, it is no implemented yet. I was already looking for place in code where I color of speech and other texts is defined, but without success.

[2015-08-21 11:33] ZaneDubya commented on #304
@robertdeclaux fixed this by splitting the massive render operation into two steps - when the book is opened, only render the indexes; only render the spell pages after all pages are looked at. I'm closing as addressed.

[2015-08-21 11:33] #304 closed

[2015-08-24 15:21] ZaneDubya commented on #299
@Rex-deadwall Thank you for posting this issue. I'll have it fixed shortly.

[2015-08-24 15:21] ZaneDubya commented on #300
@Rex-deadwall Thank you for posting this issue - this shouldn't be that difficult to add!

[2015-08-24 16:02] robertdeclaux commented on #299
I think it's not hardcoded but default, you can change or delete it later.

[2015-08-24 16:14] ZaneDubya commented on #299
We can definitely change it from hard coded to changeable when we get macros in! Don't ask me when that will happen ;)

[2015-08-24 16:15] ZaneDubya commented on #299
Added in 3e740cf. Closed as addressed.

[2015-08-24 16:15] #299 closed

[2015-08-24 18:49] ZaneDubya commented on #300
Added in f1f0369. I've made it so that double clicking the gump toggles it, not necessary opens.

[2015-08-24 18:49] #300 closed

[2015-08-25 14:25] ZaneDubya commented on #296
@robertdeclaux I think I may have fixed this issue. Give it another try?

[2015-08-25 14:26] ZaneDubya commented on #296
@robertdeclaux  When you post a screen shot, could you include the 'locals' window? That will show me the values of all the variables in the local context of the error, which would be helpful!

[2015-08-25 14:32] ZaneDubya commented on #298
Implemented the first part of this (items show labels).

[2015-08-25 14:43] ZaneDubya commented on #285
Just had a eureka moment. Let's see if I can fix this...

[2015-08-25 15:19] ZaneDubya commented on #285
Should be fixed as of 792f21917943452a9e1f6f889d388cdbdddf3ce4. I'm sure someone will open a new issue if this is not the case. But it looks good to me.

[2015-08-25 15:19] #285 closed

[2015-08-25 19:05] robertdeclaux commented on #296
I will do it as soon as i can.

[2015-08-25 23:55] Vaegrim commented on #243
NameChangeFlag in MobileStatusCompactPacket is the Name Change Permission flag; you've even got it called out in StatusInfoPacket.cs. I think a confirmed change is supposed to send a RenameCharacterPacket

[2015-08-26 13:47] ZaneDubya commented on #243
@Vaegrim This is really helpful - thank you.

[2015-08-27 02:13] ZaneDubya commented on #265
Ok, closing as fixed.

[2015-08-27 02:13] #265 closed

[2015-08-27 02:14] ZaneDubya opened #311 "HtmlGumplings should be able to respond to mousedown and mouseup events."
Broken out from #257.

[2015-08-27 02:14] ZaneDubya commented on #257
Broke out better mouse event handling to #311.

[2015-08-27 02:59] ZaneDubya commented on #311
Done.

[2015-08-27 02:59] #311 closed

[2015-08-27 03:19] ZaneDubya commented on #257
@robertdeclaux Fixed the text colors. Not sure what is causing the client not to send text to sphere server... It is working on RunUO.

[2015-08-27 03:20] ZaneDubya opened #312 "Gumps: TextEntry contents are not received by SphereServer."

[2015-08-27 03:21] ZaneDubya commented on #257
Opening #312 for this issue.

[2015-08-27 03:21] #257 closed

[2015-08-27 13:07] ZaneDubya commented on #301
The color of the text you select in the options gump (thanks @Eskymak!) is now used for your ingame speech.

[2015-08-27 13:21] ZaneDubya opened #313 "Text box: implement emote, yell, party, guild, and alliance."
Typing colon followed by space as the first two characters in the chat text entry box should cause the text entry box to enter 'emote mode'. Sending text while in emote mode should send an emote message, not a chat message. Emote mode should be cleared after sending text. Typing backspace when the text buffer is empty while in emote mode should clear emote mode. Emote mode colors should be impleme

[2015-08-27 13:22] ZaneDubya opened #314 "Journal text colors do not reflect spoken text colors."
Ideally, the color of text within the journal will match the color of text within the game. This is not yet implemented.

[2015-08-27 13:22] ZaneDubya commented on #301
Breaking out two issues, closing this one:
Emote mode #313
Journal colors #314.

[2015-08-27 13:22] #301 closed

[2015-08-27 19:16] PatrikSamuelTauchim commented on #313
**":"** (semicolon) is used for whisper in same way as ":" for emote
**!** is used for yell
**/** for party
**\** for guild
**|** Alliance
http://www.uoguide.com/Chat

[2015-08-27 19:21] PatrikSamuelTauchim commented on #314
Also the text in chat input field should match the color of the active mode - speech/emote/party/guild/...

[2015-08-27 19:24] PatrikSamuelTauchim commented on #298
- Names doesnt disappear after releasing ctrl+shift keys, but after few seconds.

[2015-08-27 22:13] ZaneDubya commented on #80
Implemented early! Moving to M0.7.

[2015-08-27 22:39] #80 closed

[2015-08-27 23:35] ZaneDubya opened #316 "Corpse deferred rendering."
Like mobiles, Corpses can overlap later-drawn tiles, and thus should be deferred.

[2015-08-27 23:35] ZaneDubya commented on #247
Corpse deferring broken out to #316.

[2015-08-27 23:35] ZaneDubya commented on #247
Closing as implemented.

[2015-08-27 23:35] #247 closed

[2015-08-27 23:41] ZaneDubya opened #317 "Implement Legacy colorpicker"
This beautiful piece of work. I need it in my life.

<img width="358" alt="screen shot 2015-08-27 at 6 40 37 pm" src="https://cloud.githubusercontent.com/assets/7041719/9535825/33ea0112-4ceb-11e5-8ddc-ae1319ce8bba.png">

[2015-08-27 23:43] ZaneDubya opened #318 "Complete Milestone 0.7"
Milestone 0.7 has 70 issues. You can [track the progress here](https://github.com/ZaneDubya/UltimaXNA/milestones). Any future issues, unless they are critical show stopping bugs, will be addressed in a future milestone.

[2015-08-28 01:00] ZaneDubya commented on #313
Nice. Thank you @Eskymak

[2015-08-28 18:52] ZaneDubya commented on #316
Closing as implemented.

[2015-08-28 18:52] #316 closed

[2015-08-28 18:53] ZaneDubya commented on #184
As it turns out, this issue is present in the legacy client as well. However, the legacy client hides all mobiles that are under roofs where there is a surface or roof at (pos +1x+1y) and (pos +2x+2y). I will implement the same behavior in the xna client.

[2015-08-28 19:19] ZaneDubya commented on #184
Mobile hiding implemented in de38201e6a92ac803f1aa05f39471c1c4a17a5b0. Now, to make it even better, I'm going to make it so that mobiles moving 'up' on the screen forward their draw objects to the tile they are moving to.

[2015-08-28 19:32] ZaneDubya commented on #184
Actually, even better solution: just check an offset tile when the mobile is moving.

[2015-08-28 19:32] ZaneDubya commented on #184
Closing as implemented.

[2015-08-28 19:32] #184 closed

[2015-08-28 20:01] ZaneDubya commented on #269
Ok @Eskymak, I'm 99.99% certain I have it fixed now. Just try and reopen this one. I dare ya. ;)

[2015-08-28 20:01] #269 closed

[2015-08-30 09:40] sean-thorburn opened #319 "UltimaXNA causing memory leak issue in Audiodg.exe"
After playing around with UltimaXNA yesterday, my Audiodg.exe is sitting on 5.2GB.

Might be something to look into.

Windows 7 with latest updates.
https://support.microsoft.com/en-us/kb/981013

[2015-08-30 15:29] ZaneDubya commented on #319
Very interesting. I'm only using XNA's basic audio functionality, so unless this is a bug with all XNA games, I can't see why it's happening at all.

A quick google search shows that this problem happens to many different games.

[2015-08-30 16:27] robertdeclaux commented on #296
Not sure if it's what you want
![ekran goruntusu 9](https://cloud.githubusercontent.com/assets/11157985/9568272/29c8ceb6-4f4d-11e5-827d-d9462ec6646d.png)

[2015-08-30 16:32] robertdeclaux commented on #80
Awesome!

[2015-08-30 17:15] ZaneDubya commented on #144
Let's do this!

[2015-08-31 13:08] ZaneDubya commented on #319
Hi @sean-thorburn, I've reviewed a number of complaints about this same issue occurring concurrent with running many different games and apps. It appears to be an issue with interactions between windows' audio system and various audio drivers. Not many people have this issue, but a fair number seem to have won the bug lottery - and unfortunately, it appears that you are among them. Some people hav

[2015-08-31 13:24] PatrikSamuelTauchim commented on #319
@sean-thorburn I would do clean install of Windows 7 from original media first, maybe it is corrupted, infected or broken in some way. Especially if it is OEM preinstalled, preconfigured and filled with bloatware.

[2015-08-31 17:07] jeffboulanger commented on #319
@sean-thorburn Please install this hot fix and see if the problem is resolved https://support.microsoft.com/en-us/kb/981013

[2015-08-31 19:12] fdsprod commented on #319
@sean-thorburn Check that you have audio effects disabled, this was posted as a fix somewhere else.

[2015-08-31 23:42] Rex-deadwall opened #320 ".Hidden and sounds still play"
While in owner mode i set myself hidden and walked around, and i could still hear footsteps, no sounds should play when in hidden mode.

[2015-09-01 04:06] ZaneDubya opened #321 "Server expects that client will dispose objects from destination tile when moving, not source tile."

[2015-09-01 04:07] ZaneDubya opened #322 "Music will skip when buffers run out on long Update() or Draw() frames."
see here: http://xboxforums.create.msdn.com/forums/p/72955/446315.aspx

[2015-09-01 04:07] ZaneDubya opened #323 "Optimizations: reduce creation of large arrays of vertices."
As part of this issue, only create only HtmlParser object.

[2015-09-01 04:14] #323 closed

[2015-09-01 04:14] #321 closed

[2015-09-01 04:14] #322 closed

[2015-09-01 04:48] ZaneDubya commented on #320
@Rex-deadwall Thank you for reporting this issue. I've added a fix in 5f425b2, which should be merged as part of a bunch of footstep enhancements in the next few days.

[2015-09-01 05:14] ZaneDubya commented on #167
Ok, implemented all of these. Merging.

[2015-09-01 05:14] #167 closed

[2015-09-01 05:20] ZaneDubya commented on #320
Or tonight. ;) Closing as addressed.

[2015-09-01 05:20] #320 closed

[2015-09-01 13:32] ZaneDubya opened #327 "Unsubscribe from all events throughout codebase."
@jeffboulanger pointed out that I've been subscribing to events and not unsubscribing when the event receiving object is Disposed(). This will inevitably cause memory leaks - some severe. For example Jeff noticed the journal gump leaks a ton of memory.

Thanks jeff!

[2015-09-02 03:15] ZaneDubya commented on #319
I'm closing this issue as unaddressable. I cannot replicate it on my end. I can't rule out that we're doing something wrong on our end, but @jeffboulanger has done some memory leak testing in the audio code and hasn't found anything obviously incorrect. Similarly, the fact that this bug is being caused by many different games and programs makes me think that it's not likely to be something we're d

[2015-09-02 03:15] #319 closed

[2015-09-02 04:32] sean-thorburn commented on #319
Hi everyone,

Sorry I have not got back to you sooner.
I have never had this problem before, and I've been running my Windows 7 x64 install for over 2 years.

I have a Creative Sound Blaster X-Fi XtremeGamer.
I suspect it had something to do with me getting the client up and running, and testing on multiple versions of the Ultima Online client.

I did get some sound errors in the console in red du

[2015-09-02 14:59] ZaneDubya commented on #144
It seems that Unknown4 is a height offset for the sitting mobile. Good to know.

[2015-09-02 15:18] fdsprod commented on #319
I personally did some memory leak testing and could not find a single issue with sound.  I did find issues with the journal and gave Zane the fixes but no sound issues.  If this continues to occur, I can walk you through how to use vs2015 to see if the leaks are in uxna or not.

[2015-09-02 16:04] sean-thorburn commented on #319
I'll give it another try some time and see if I can replicate the issue. Will post back here.

I am very excited about this project.

[2015-09-02 16:21] ZaneDubya commented on #319
@sean-thorburn So are we. Thank you for continuing to test it - I hope we can actually address your next bug :)

[2015-09-02 16:57] ZaneDubya commented on #296
@robertdeclaux I think I've fixed it (again). But there is something funky going on with how Sphere sets up layers for elementals. Try it again?

[2015-09-02 19:22] robertdeclaux commented on #296
After summoning them it was always crashing when i trying to login again until they disappear, This case and summoning air elemental fixed completely but summoning fire elemental still crashes.(But i can login after crash and see the fire elemental)
![ekran goruntusu 10](https://cloud.githubusercontent.com/assets/11157985/9641776/1913c258-51c1-11e5-839e-86739f26c331.png)

[2015-09-02 19:48] ZaneDubya commented on #296
Heck, I have no idea what's going on. Mind if I jump on your server this weekend?

[2015-09-02 20:09] robertdeclaux commented on #296
Just let me now when you are free
2 Eyl 2015 22:48 tarihinde "Zane Wagner" notifications@github.com yazdı:

[2015-09-05 10:57] Gr3enP0ison opened #328 "Game takes endless times to load"
After joining the game, the world loads and you're able to run around on map but the world is not seen to be spawned, no doors, no npcs , no items etc. If you stay for a bit (about 10-15 minutes) you can see npcs spawning naked. After another 10 minutes they have clothes on. Also the character is swapping to his old point he stood before 5 minutes. Same with texts you post. You can wait some minut

[2015-09-05 14:17] ZaneDubya commented on #328
@Gr3enP0ison - thank you for reporting this issue. What server software and version of the same are you using? Does this happen on a vanilla installation of that server?

[2015-09-05 16:18] #144 closed

[2015-09-05 18:30] ZaneDubya commented on #296
Elementals are fixed in commit 7270c571f5. There is a problem with daemons that is related to how I'm reading (mis-reading) bodyconv.def.

[2015-09-05 19:26] 3HMonkey commented on #328
Runuo 2.3 and 2.5 clean and 2.5 + Vita nex core

[2015-09-05 19:27] 3HMonkey commented on #328
Maybe we can skype these days cause i really want to help programming the client.

[2015-09-05 20:43] ZaneDubya commented on #328
@Gr3enP0ison I would welcome any help you could offer!

Your issue is odd - I test on 2.3 clean, and I am not experiencing anything like this. Are you experiencing similar problems with the classic client? If you try running the ML classic client, are you seeing the same issue?

[2015-09-05 20:55] ZaneDubya commented on #328
Here's another thought - as far as I know, [RunUO preferentially sends the 0x1A packet to clients with a version lower than 7.0.0.0](https://github.com/brodock/runuo/blob/b2b7cef1dcf597266d41be9ab731b35368916f9c/Server/Item.cs#L2702). I have set up the xna client to send, by default, version 6.0.6.2. Is it possible that your copy of the xna client is sending the wrong version? Would you set a brea

[2015-09-06 06:51] 3HMonkey commented on #328
7.0.15.1 , because i set it to this version inside the "UltimaOnlineSettings.cs" line 26 : ClientVersion = new byte[] {7, 0, 15, 1}; This was just a test if it will work afterwards, but the same problem.

2nd : Yes on both clients. ML classic I downloaded here and UO:classic client 7.0.15.1

[2015-09-06 07:10] 3HMonkey commented on #328
Another idea: what branch are u using?

[2015-09-06 11:33] ZaneDubya commented on #328
I believe this is causing the problem. If you set version to any value less than 7.0.0.0, RunUO will stop sending you the missing packet. You can set the default value in UltimaOnlineSettings.cs, as you already know; you may also need to delete settings.cfg in your bin directory.

I am tempted to simply implement packet 0xF3, but I don't want to start implementing SA/HS features before we have ML

[2015-09-06 12:24] ZaneDubya commented on #221
Implemented in commit 59fcf59b6a7381200b6a0ed03bf3c3ccf2fa4710.

[2015-09-06 12:24] #221 closed

[2015-09-06 12:56] ZaneDubya commented on #240
Closing as implemented.

[2015-09-06 12:56] #240 closed

[2015-09-07 16:39] ZaneDubya commented on #270
Implemented!

[2015-09-07 16:39] #270 closed

[2015-09-07 19:19] ZaneDubya opened #330 "Implement party system, including chat."

[2015-09-07 19:19] ZaneDubya commented on #313
Implemented! Moved party chat to #330, as it relied on a new set of packets which have not yet been implemented.

[2015-09-07 19:19] #313 closed

[2015-09-07 22:49] ZaneDubya commented on #296
I've fixed daemons! Residual issue with dragon chest pieces (possibly other) equipment not showing up...

[2015-09-08 01:44] #327 closed

[2015-09-08 14:41] robertdeclaux opened #334 "Overhead font and colors (sphereserver)"
They are a little bit different than the legacy client (on sphereserver emulator LBR settings)

 Legacy
![ekran goruntusu 28](https://cloud.githubusercontent.com/assets/11157985/9737710/a79cea0c-5650-11e5-919f-8c2833a00d67.png)
![ekran goruntusu 29](https://cloud.githubusercontent.com/assets/11157985/9737711/a7a15b78-5650-11e5-9862-5441570f572e.png)
![ekran goruntusu 30](https://cloud.githubuserco

[2015-09-08 15:14] ZaneDubya commented on #334
@robertdeclaux I'm looking into the blue font issue. The double-pixel outline should be fixed now.

[2015-09-08 15:30] ZaneDubya commented on #334
@robertdeclaux Should be fixed.

[2015-09-08 15:39] robertdeclaux commented on #334
Item overheads are perfect now, but mobiles may require a little bit tunning later on outline color.
![ekran goruntusu 35](https://cloud.githubusercontent.com/assets/11157985/9739546/ec8b73d8-5658-11e5-83be-3420d4965489.png)
thank you!
Note: it may seem a render issue i just paste legacy client's view on it

[2015-09-08 15:40] ZaneDubya commented on #334
Can you give me an example of the "outline color" that is incorrect? Is this on the text?

[2015-09-08 15:41] ZaneDubya commented on #334
@robertdeclaux The outline should always be black?

[2015-09-08 15:42] robertdeclaux commented on #334
I'm not sure about this give me a little bit time to check

[2015-09-08 16:00] robertdeclaux commented on #334
It seems like unicode fonts have always black outline, I took screenshots of all fonts from legacy client
![1](https://cloud.githubusercontent.com/assets/11157985/9740047/717f3aa0-565b-11e5-86ad-91dfb213a385.png)
![ekran goruntusu 36](https://cloud.githubusercontent.com/assets/11157985/9740048/717f80aa-565b-11e5-995a-cda3394d9dd5.png)
![ekran goruntusu 38](https://cloud.githubusercontent.com/asset

[2015-09-08 23:05] 3HMonkey commented on #328
Mhh strange, it makes no difference setting the client version less 7.0.0.0 or above 7.0.0.0. But if I set it to something less than 7 the client is crashing.

[2015-09-08 23:05] ZaneDubya commented on #328
What error message are you getting? Can you post the stack trace?

[2015-09-09 07:37] 3HMonkey commented on #328
It just comes up sometimes. Nothing important, I just noticed it.
Inside:
private IAnimationFrame getFrame(int bodyID, int hue, int facing, int action, float frame, out int frameCount)
        {
            if (bodyID >= 500 && bodyID <= 505)
                patchLightSourceAction(ref action, ref frame);

[code]

Sorry I have no trace atm because it just come up sometimes.

Mhh I thought about the

[2015-09-09 08:26] 3HMonkey commented on #328
Ok I got it. It was the settings.cfg!! I deleted this file every client restart but the content of the "new" generated file was old. I really should restart my PC more often :). So it seems like there was some kind of cache which saved the old settings.cfg. After a restart it was working fine with 6.9.9.9 inside settings. Now I can jump up inside your code to help a bit :) Anyway, thank you for yo

[2015-09-09 08:37] PatrikSamuelTauchim commented on #328
@Gr3enP0ison I had same issue once, solved with removing whole UltimaXNA directory.

I think, that client is also making backup of settings.cfg file, so even if you remove it, it can be restored to original, corrupted state from that backup.

Would be nice to see that corrupted file to know, what is actually wrong with it. Do you have it in recycle bin maybe?

About increasing of loading range for

[2015-09-09 09:26] 3HMonkey commented on #328
@Eskymak I found out that you can higher the vieport distances inside RUNUO by changing the value inside "Core.GlobalMaxUpdateRange".
There are also some scripts inside RUNUO where you'll have to change specific static variables. For example: Map.Get*InRange() and Utility.InUpdateRange()

[2015-09-09 09:34] PatrikSamuelTauchim commented on #328
@Gr3enP0ison I think that I already increased GlobalMaxUpdateRange without any effect. Is that working for you?

[2015-09-09 09:47] PatrikSamuelTauchim commented on #328
@Gr3enP0ison On server, where you counting with UltimaXNA high resolution support, it can be also good to ask client for resolution used and then set MaxUpdateRange for each player based on that resolution.

It can be actually really tricky to use this on real shard, since players with high resolution will have big advantage over players with low resolutions.

I can also imagine UltimaXNA specific

[2015-09-09 09:54] 3HMonkey commented on #328
You're right. I am also planning getting into the code of UltimaXNA but it is really poorly documented so that makes it very hard to understand the code. At the moment I try to find out where the camera is located because i want to add a zoom function and so on. Also I am planning a better rendering for textures and and and.

[2015-09-09 10:00] PatrikSamuelTauchim commented on #328
I am sure @ZaneDubya can explain more about rendering. For me is also mostly black box. :-)

In combination with higher resolutions on smaller screens, zoom would be really cool feature

All you looking for is probably in this file:
https://github.com/ZaneDubya/UltimaXNA/blob/master/dev/Ultima/World/WorldViews/IsometricView.cs

[2015-09-09 12:39] ZaneDubya commented on #328
@Gr3enP0ison Glad to hear things are working. Sorry for the trouble. Both you and @Eskymak are correct in your assumptions about a settings cache - you have to delete both settings.cfg and settings.cfg.bak to reset all settings. Because you found out what setting was causing this issue, I'm going to close this issue.

[2015-09-09 12:39] #328 closed

[2015-09-10 01:11] ZaneDubya commented on #296
Fixed the body.def file reader. Closing as fixed.

[2015-09-10 01:11] #296 closed

[2015-09-10 02:26] #237 closed

[2015-09-10 16:22] ZaneDubya opened #341 "Overflow exception related to outlined text."
Looks like my outline-drawing code is drawing outside the bounds of the textures I'm writing to. Let me see if I can track down exactly where I'm going wrong with this.

[2015-09-10 17:59] ZaneDubya commented on #341
ugh, fixed. hacked. I don't know. There's some kind of memory leak as well.

[2015-09-10 17:59] #341 closed

[2015-09-10 19:58] ZaneDubya commented on #334
Ok, complete.

[2015-09-10 19:58] #334 closed

[2015-09-10 20:00] ZaneDubya commented on #314
Looks good, the only remaining thing to do is to work on the spacing of text lines; they're a little too spread out at the moment. Should be a quick fix.

[2015-09-11 19:59] ZaneDubya commented on #264
Ok @Eskymak, I think I have this fixed.

[2015-09-11 20:15] ZaneDubya commented on #314
Ok, looking good! Some small business left to do with the spacing, but I think it's good enough to move forward.

[2015-09-11 20:15] #314 closed

[2015-09-11 20:16] ZaneDubya commented on #273
Fixed.

[2015-09-11 20:16] #273 closed

[2015-09-11 20:23] ZaneDubya commented on #264
I fixed it by limiting your ability to select play window resolutions greater than your current desktop size. So if your play window couldn't fit on your desktop, then you shouldn't see the option to select that size.

I'm closing the issue, let me know if this is not fixed.

[2015-09-11 20:23] #264 closed

[2015-09-11 20:24] ZaneDubya commented on #234
Although I'm sure this won't take much time, I'm still pushing it off to Milestone 0.8 so I can keep the number of issues addressed in Milestone 0.7 to 70. ;)

[2015-09-11 20:25] ZaneDubya commented on #317
Pushing this off to Milestone 0.8

[2015-09-12 04:59] gtozzi opened #344 "Crash report in item rendering"
Hey,

I think this is due to some "unknown tile".

It excepts {System.NullReferenceException} on ItemView.cs, line 52: "
DrawArea.Y = DrawTexture.Height - IsometricRenderer.TILE_SIZE_INTEGER + (Entity.Z * 4);
"

DrawTexture is null.

Last log says:
"Requested texmap texture #13287 does not exist. Replacing with 'unused' graphic."

Thank you for sharing this nice project, let me know if you need mo

[2015-09-12 12:44] ZaneDubya commented on #344
@gtozzi Thank you for submitting this. Can you tell me what was the ItemID of the Item being rendered in UltimaXNA.Ultima.World.EntityViews.ItemView.Draw? The variable will be Entity.ItemID.

[2015-09-12 19:18] gtozzi commented on #344
@ZaneDubya it's 0x2005 and it is not on mul files. I don't know why I have an item with a not existing graphic, but it should not crash the client anyway, i suppose :D Maybe you can replace the graphic with 0x01 when not found?

[2015-09-13 13:50] ZaneDubya commented on #344
Interesting! 0x2006 is a corpse object, I wonder if 0x2005 is something special as well.

[2015-09-14 13:36] ZaneDubya commented on #344
@gtozzi Should be fixed as of 46ff06a4f0ef1cc8bdfa92c3240980d86e02b16b. The legacy client does not draw any items with itemid = 0x2005, so we won't draw them either. Closing as fixed - thank you for reporting and testing this!

I think it's weird that such an item exists in your database! If you search your script files, are there any references to 0x2005 or 8197?

[2015-09-14 13:36] #344 closed

[2015-09-14 13:44] ZaneDubya opened #346 "Change font rendering from writing to texture (current method) to sprite batch method."
Currently large swathes of text are rendered directly to textures. It would be much faster, and with less likelihood of memory leaks in the future, to create character atlases at runtime and then use those to draw the text.

[2015-09-14 13:47] gtozzi commented on #344
0x2005 is a special "no beard" item.

Why and when it dropped on the ground... have no idea :)

Probably some bugged script moved it out of a decaying corpse. I have some of them around... I'll probably wipe them now, but at least they've been useful for spotting and fixing a bug ;)

[2015-09-14 14:17] ZaneDubya commented on #344
"No beard" - that gave me a chuckle. :) Thanks for looking into it!

[2015-09-14 21:03] ZaneDubya commented on #287
done.

[2015-09-14 21:03] #287 closed

[2015-09-15 11:33] robertdeclaux opened #348 "Merchant buy menu crash on sphereserver"
![image](https://cloud.githubusercontent.com/assets/11157985/9875416/74882a80-5bb6-11e5-9077-b16ee7ae8dfb.png)

[2015-09-15 11:38] robertdeclaux opened #349 "Sector light level affects font darkness too"
![ekran goruntusu 81](https://cloud.githubusercontent.com/assets/11157985/9875503/2a70f570-5bb7-11e5-9942-d49c509daca3.png)
![ekran goruntusu 82](https://cloud.githubusercontent.com/assets/11157985/9875504/2a8e2b68-5bb7-11e5-94e6-a80d526d515c.png)

[2015-09-15 14:20] azmanomer opened #350 "Client crushing after choosing the characther"
Error 2015-09-15 17:16:51:6209 Exception has been thrown by the target of an invocation.
Error 2015-09-15 17:16:51:6329 Unable to read settings file.  Trying backup file
Error 2015-09-15 17:16:51:6339 Exception has been thrown by the target of an invocation.
Error 2015-09-15 17:16:51:6339 Unable to read backup settings file. All settings are set to default values.
Info 2015-09-15 17:16:51:9619 Ini

[2015-09-15 15:16] ZaneDubya opened #351 "Revise resolution controlling systems."
The current resolution controlling code is not optimal - it could quite possibly lead to serious errors. This needs to be significantly revised.

[2015-09-15 15:19] ZaneDubya commented on #350
Sorry, should have realized this would be a problem. I have mistakenly limited the minimum play window resolution on first boot to 1024x768 - you have a little less than this in the y dimension because your task bar takes up some of the 768p of height. Fixed in bedc4ba9. But the resolution system is still buggy; I will revise it in the next Milestone.

[2015-09-15 15:22] ZaneDubya commented on #350
Thank you for reporting this bug! Should be fixed! Please comment and reopen if the issue remains unfixed.

[2015-09-15 15:24] #350 closed

[2015-09-15 15:25] ZaneDubya commented on #348
Interesting. Not sure how/why this could be the case. I'll take a look at it in the next milestone.

[2015-09-15 20:24] ZaneDubya commented on #272
Getting close to finished on this issue...

@robertdeclaux Do you know how the server enables/disables pop-ups? Some flag in the Enable Features packet?

[2015-09-15 20:43] robertdeclaux commented on #272
I'm not sure but it can be related to aos features which (all) disabled on my server. I'm looking for more information.

[2015-09-16 01:11] ZaneDubya opened #352 "Test all ascii message / unicode message types, compare with Legacy Client."
I want to make sure that the different message types are properly handled. The following cases should be tested for each of the ascii and unicode fonts:

1. Where does the text appear? Overhead? In the bottom-left chat interface? In the journal?
2. Is the text hued?
3. Is the font transformed if it is placed in the journal?
4. What occurs when the serial is invalid?
5. What occurs when the speaker

[2015-09-16 01:13] ZaneDubya commented on #272
I've merged my proposed change to master and am closing this issue as fixed. Please let me know if it does not work on your end.

Note that this change breaks the appearance of some text in the bottom left chat interface / journal. I will go through and rigorously test each of the message types in Milestone 0.7.

[2015-09-16 01:13] #272 closed

[2015-09-16 01:14] ZaneDubya opened #354 "Spoken message expiration timing should match Legacy client."
Right now the xna client has all spoken messages last a specified constant time. The legacy client's spoken messages last longer based on their length. I should match this behavior as best I can.

[2015-09-16 08:53] robertdeclaux opened #355 "Name overhead on incoming mobiles (sphereserver)"
![ekran goruntusu 83](https://cloud.githubusercontent.com/assets/11157985/9900446/862706a4-5c69-11e5-9848-6d003bbbee32.png)

[2015-09-16 12:35] ZaneDubya commented on #355
On all servers, actually. :) I haven't implemented this yet.

[2015-09-16 16:22] fdsprod commented on #355
Im not 100% sure, but i thought this was a setting.

[2015-09-16 17:39] ZaneDubya commented on #355
@jeffboulanger That's helpful - I'm sure we can add one for incoming names.

[2015-09-16 17:40] ZaneDubya opened #356 "Reorganize settings within Configuration namespace."
Right now the placement of variables within the configuration namespace is a little haphazard. It would be a good idea to reorganize the namespace - and to plan out what other variables we will need through the rest of the project.

[2015-09-16 18:00] ZaneDubya commented on #243
Starting work on this issue now. Two more issues to go through for Milestone 0.7!

[2015-09-16 18:02] ZaneDubya opened #357 "Spellbook gump issues"
1. I've noticed that when you load pages for a spellbook that is not full, there are additional blank pages at the end of the book. The book should end with the last page full, not blank (or its facing second-to-last page, if the book contains an odd number of spells).
2. Right now, the spellbook gump loads all index pages when it is first opened, and then all spell pages when the first spellpage

[2015-09-17 01:02] ZaneDubya opened #358 "Text entry - entering long strings is bugged."
Entering a very long string with no line breaks will eventually cause (1) the line to break and then jump down a line, (2) entering additional characters will cause all text to disappear and a line of single light blue pixels will appear at the top of the text entry box.

[2015-09-17 02:21] ZaneDubya commented on #243
@Vaegrim I've been testing this all evening, and it looks like the name change permission flag is always 0x00 in that packet, regardless of my access level or whether the target animal is tamed. Do you think I'm somehow misreading the data, or that there might be some other flag?

[2015-09-17 12:27] robertdeclaux commented on #352
1- Legacy journal shows data with single font no matter which font used originally.
![1](https://cloud.githubusercontent.com/assets/11157985/9932555/8839cc6c-5d4d-11e5-9e66-1680a6002ff0.png)

2- Emotes with double '*'s
![2](https://cloud.githubusercontent.com/assets/11157985/9932609/021b2dd2-5d4e-11e5-94cd-de5b670e1664.png)

3- (Reminder to myself, i will test it with multi client <> or : thing)
!

[2015-09-17 14:41] ZaneDubya commented on #243
So the text doesn't look perfect, but the interface works perfectly.

[2015-09-17 14:41] ZaneDubya commented on #243
Closing as fixed.

[2015-09-17 14:41] #243 closed

[2015-09-17 14:53] ZaneDubya commented on #223
Last issue of M0.7 - let's get this finished!

[2015-09-17 19:07] ZaneDubya commented on #223
This should be fixed! If problems remain, please comment and reopen.

[2015-09-17 19:07] #223 closed

[2015-09-17 19:16] #318 closed

[2015-09-17 21:33] orsi commented on #357
Number 1 is fixed, I'll attempt number 2.

[2015-09-17 22:26] ZaneDubya commented on #357
Thanks @jorsi !

[2015-09-18 08:00] robertdeclaux opened #362 "Single clicking on item only shows one of information message"
![ekran goruntusu 111](https://cloud.githubusercontent.com/assets/11157985/9954595/13c098f6-5df3-11e5-90f4-097dc01e9663.png)
UltimaXNA shows only one information message but legacy client's limit is 3. (+An information message may contain more than one lines)

![ekran goruntusu 110](https://cloud.githubusercontent.com/assets/11157985/9954674/91231d64-5df3-11e5-970f-c9d1129746fe.png)
Second line of

[2015-09-18 15:11] ZaneDubya opened #363 "Implement drag item functionality."
When you drag an item, the server sends a 'item drag' packet, and a quick graphical effect of an item being moved.

[2015-09-18 15:12] ZaneDubya opened #364 "DisplayGumpFast/DisplayMenu packet functionality"
Allows for quick creation of a menu with less parameters than the gump packet. This is used on SphereServer.

[2015-09-18 15:15] ZaneDubya opened #365 "Custom housing"
UltimaXNA does not yet include functionality for custom houses. This should be implemented.

[2015-09-20 02:48] jorsi opened #367 "SpellbookGump is called twice randomly and draws too many spells"
I'm not familiar with the network code that is calling this function twice, so I hope someone can figure this out. I think this might be a threading or some kind of asynchronous issue.

Each spellbook draws correctly when it is opened for the first time. However, when opening the same spellbook for the second time and every time after, it begins to draw twice.

![image](https://cloud.githubusercon

[2015-09-20 21:04] orsi commented on #354
I've begun working on this.

[2015-09-21 14:21] ZaneDubya commented on #367
Thank you for reporting this bug; I'll take a look at it.

[2015-09-21 15:37] #357 closed

[2015-09-21 15:41] ZaneDubya commented on #367
Fixed in 73395f3. The spells were being drawn twice because m_SpellList was not being cleared in CreateMageryGumplings().

The underlying issue - that the spell book was being updated - is caused by RunUO always sending the spell book contents whenever it is opened. The spell book entity would then raise the OnEntityUpdated event, which was hooked by the SpellbookGump. Because m_SpellList is now c

[2015-09-21 15:41] #367 closed

[2015-09-21 15:48] ZaneDubya opened #370 "Book read / write gump"
Guests should be able to read books in libraries, and add their name to the book I've locked down on my stoop.

[2015-09-21 19:55] ZaneDubya opened #371 "Pressing enter twice at character list causes crash."
Every time enter is pressed, the client attempts to load a world model. Loading a world model twice is prohibited, causing a crash. Fix: character selection should be disabled once a character has been selected.

[2015-09-22 21:20] ZaneDubya commented on #354
Implemented in #373.

[2015-09-22 21:20] #354 closed

[2015-09-23 02:06] orsi commented on #371
Pull request sent for this issue. Just added an additional condition to see if the world was loading or not.

[2015-09-23 12:04] ZaneDubya commented on #371
Fixed in #374

[2015-09-23 12:04] #371 closed

[2015-09-26 15:31] ZaneDubya opened #375 "Implement ObjectHelpResponse packet"
Packet ID 0xB7 - http://docs.polserver.com/packets/index.php?Packet=0xB7

[2015-09-26 15:37] ZaneDubya opened #376 "Implement HealthBarStatus packets."
IDs 0x16 and 0x17
http://docs.polserver.com/packets/index.php?Packet=0x16
http://docs.polserver.com/packets/index.php?Packet=0x17

[2015-09-26 15:40] ZaneDubya opened #377 "Implement other magic book functionality"
[ ] Magery

[2015-09-26 15:42] ZaneDubya opened #378 "Implement OpenWebBrowser packet"
ID 0xA5: http://docs.polserver.com/packets/index.php?Packet=0xA5

[2015-09-26 15:44] ZaneDubya opened #379 "Implement Quest system, including Quest array."
- [ ] Quest log
- [ ] Quest arrow packet - ID 0xBA
- [ ] Quest arrow gump

[2015-10-01 03:54] orsi commented on #370
I'm going to try and attempt this.

Is the client already sending data to the server when double clicking a book, or is it already registering it yet doesn't do anything with the server response to open and display it?

[2015-10-02 19:28] ZaneDubya commented on #370
Thanks Jon! When the client double clicks on a book, the client sends a generic double-click packet. The server should respond with all the data necessary to read the book. I have not yet implemented these packets, or the data structures that would hold the book data.

[2015-10-08 22:11] orsi commented on #370
I added the Book Header (new) and Book Pages packet and have a rough version of this working at https://github.com/jorsi/UltimaXNA/tree/book-gump.

So far I have:
![image](https://cloud.githubusercontent.com/assets/7156655/10381275/57fd7e54-6de7-11e5-92e3-aa22db557c84.png)

Compared to UO:ML Client:
![image](https://cloud.githubusercontent.com/assets/7156655/10381390/6aa1dffe-6de8-11e5-8cea-e03d04

[2015-10-09 14:53] uoitalia opened #380 "Implement UltimaLive Live Map patches"
https://www.servuo.com/archive/ultima-live-map-streamer-and-editor.266/

As contained here, there is the ability to patch live the map files.

I'm trying myself to update the relative files contained in ultimaXNA, but without knowing the architecture and how-to read variables, modify tiles, etc, the learning curve is really high.

There could be various directions:

- rewrite some code and provide

[2015-10-09 15:00] SaschaKP commented on #380
of course, I'm speeching of the client itself!

[2015-10-09 15:18] PatrikSamuelTauchim commented on #380
I just heard about this feature in classic client, but never actually seen it live. I wish to have it in UltimaXNA, since it can really make difference in the world :-)

[2015-10-09 15:32] SaschaKP commented on #380
I'm using it constantly in the shard we own, and without this would be impossible to do extraordinary things without external patches...

Anyway, I'm just asking for some help to turn the learning curve down, I'm actually reading the code, but there are lot of differences from the naming and architecture I'm used both in UltimaLive and RunUO.

For example, how could I retrieve all maps? how can I

[2015-10-10 07:55] uoitalia opened #381 "Login cannot go forward after characterliststate to Null"
![image](https://cloud.githubusercontent.com/assets/15030741/10410008/92f5e0fc-6f34-11e5-8037-58f9beac9fea.png)

it remains locked in this loop of execution:
![image](https://cloud.githubusercontent.com/assets/15030741/10410021/dc4f2088-6f34-11e5-85ca-53baf6f5e51b.png)
continuosly filling memory, slowly.

I don't know if this is a machine or code problem, I'm using latest svn...maybe there are spe

[2015-10-10 08:31] SaschaKP commented on #381
Found the bug, in ultimalive we send the user map index after the login, to refresh the map in a correct way.
this is a small bug I'll take care of, expect a patch

[2015-10-10 10:27] SaschaKP commented on #381
anyway I can't get past login and showing the map....that's strange...something is odd here :(

[2015-10-10 11:09] SaschaKP commented on #381
tested : clean runuo version 2.2 works fine, mine customized server won't work, but the strange thing is, with the original 6.0.6.2 client it works fine.

[2015-10-10 11:20] SaschaKP commented on #381
Resolved, it's an unknown packet issue from ObjectPropertyList.Enabled = Enabled;

Disabling the ObjectPropertyList resolves the hang of the client.

[2015-10-11 14:21] ZaneDubya commented on #381
@uoitalia Can you propose a fix for the xna client that would solve this problem?

[2015-10-11 14:25] ZaneDubya commented on #356
Took a first step on this issue in 475d9b4

[2015-10-11 14:31] ZaneDubya commented on #380
@uoitalia This does look like a cool feature. I won't promise adding it, but I am interested in learning more. Can you identify the packets that are sent by the UltimaLive server?

[2015-10-23 12:02] ZaneDubya opened #382 "Alternate footstep sounds."
From Po0ka at ServUO:

I came across this thread:
https://www.servuo.com/threads/unused-stock-sound-effects-found-with-uo-fiddler.3402/

And as it sounds pretty much like what the regular client should do, do you think it would be a good idea to implement it right into the client or as a side plugin for it?

[2015-10-23 17:41] orsi commented on #382
I think we gain a lot and lose nothing by implementing it.

I've also thought about implementing the many unused book gumps into what I'm working on as well.

[2015-10-26 15:21] ZaneDubya commented on #349
Fixed in 4f316f5. Closing as addressed.

[2015-10-26 15:21] #349 closed

[2015-10-27 19:30] ZaneDubya commented on #284
This is an issue again. :( check out rendering when within the entrance to doom dungeon.

[2015-10-29 03:00] jorsi opened #383 "Game crashes when double clicking equipment slot"
![image](https://cloud.githubusercontent.com/assets/7156655/10808948/6cdd8e64-7dc7-11e5-9532-acf1435f5cc7.png)

As the title states, double clicking an equipment slot seems to trigger a pick up item method, however, there is a null reference and the client crashes.

[2015-10-30 15:03] ZaneDubya commented on #383
Fixed - thanks @jorsi

[2015-10-30 15:03] #383 closed

[2015-10-30 20:50] ZaneDubya commented on #381
@uoitalia I'm trying to work out what fix you made. Did you disable the object property list on your server or on the client?

[2015-10-30 20:59] SaschaKP commented on #381
You have to disable the OPL in the server --> Scripts\Misc\CurrentExpansion.cs

[2015-11-05 03:01] jorsi opened #384 "Crash on closing an npc Paperdoll"
Closing an npc's paperdoll gump causes a null reference in PaperDollGump.cs when disposing the gump. Seems to be the case for any npc, but not for the own player's paperdoll.

![image](https://cloud.githubusercontent.com/assets/7156655/10958750/798331f0-833f-11e5-842b-28a30183d421.png)

[2015-11-05 03:14] jorsi opened #385 "Crash when clicking mouse too early on login screen loading"
Clicking the mouse immediately upon starting the client causes the client to crash for some reason. It seems to be a really small window for this to happen - if you wait half a second after the client opens, it doesn't crash. An easy way to recreate this bug is to start clicking on the console debug screen rapidly until the client window opens up.

![image](https://cloud.githubusercontent.com/asse

[2015-11-07 13:30] ZaneDubya commented on #384
Thanks for reporting this @jorsi - wonder what's causing it!

[2015-11-07 13:30] ZaneDubya commented on #385
Totally bizarre! Thanks @jorsi

[2015-11-07 20:21] greeduomacro commented on #384
To add on to this, if you close another player's paperdoll a crash occurs as well~

[2015-11-13 14:43] ZaneDubya commented on #381
I'm glad you got it working! But it would be even better if the xna client handled the packet that was causing an error on your end. Can you paste a copy of the packet here? You should be able to find it in debug.log after you have enabled packet logging. In settings.cfg, set LogPackets=True, like so:

[code]

[2015-11-23 17:24] #380 closed

[2015-12-01 06:19] jorsi opened #386 "NullReferenceException thrown when clicking both left and right mouse button"
![image](https://cloud.githubusercontent.com/assets/7156655/11493668/18b1d9aa-97c9-11e5-8365-68e51453f4bf.png)

Pretty straightforward explanation. Hold left mouse button and then click with the right mouse button, or vice versa. Client seems to be able to keep running through this exception however, but it seemed noteworthy in case no one knows about it.

I am using a touch pad, so if it turns ou

[2015-12-05 23:03] gtozzi opened #389 "The program does not start anymore: too many arithmetic instruction slots in the shaders"
I get this error:
1>------ Build started: Project: UltimaXNA, Configuration: Debug x86 ------
1>  Building Shaders\IsometricWorld.fx -> C:\UltimaXNA\dev\bin\Debug\Content\Shaders\IsometricWorld.xnb
1>C:\UltimaXNA\dev\Content\Content\Shaders\IsometricWorld.fx : error : Errors compiling C:\UltimaXNA\dev\Content\Shaders\IsometricWorld.fx:
1>C:\UltimaXNA\dev\Content\Content\Shaders\IsometricWorld.fx :

[2015-12-07 19:58] fdsprod commented on #389
What kind of video card do you have?

[2015-12-08 13:16] ZaneDubya commented on #389
@gtozzi It works on our end, so I don't know how to test this... Can you figure out if it's just the PixelShader_Hue routine? (comment out the other pixel shaders; does the error still occur)?

@jeffboulanger That's clever! Do different graphics cards run different instructions? Is it possible that shaders which compile down to a svelte < 64 instructions on more advanced cards might be porkier on

[2015-12-08 15:58] gtozzi commented on #389
@jeffboulanger NVIDIA Corporation GT218 [GeForce 210](rev a2)

@ZaneDubya i think the problem is just the code being too long/complex for older video cards, not in any specific routine. To reproduce this, I think you can force compile for pixel shader 2 instead of 3 (http://prof.johnpile.com/2013/11/05/xna-compile-for-pixel-shader-3-0/), but I am not sure, since that's not really my domain: I'm mo

[2015-12-08 20:26] ZaneDubya commented on #389
@gtozzi We're already compiling for PS20 - it's so strange that your computer has a different output than mine! Would you please check if you have XNA Game Studio 4.0 Refresh installed?

[2015-12-08 21:06] gtozzi commented on #389
@ZaneDubya no, it is not in the installed programs list

[2015-12-08 23:10] ZaneDubya commented on #389
@gtozzi There might be some shader compiler enhancements in the refresh - try installing it and see if the shader compiles correctly? https://www.microsoft.com/en-us/download/details.aspx?id=27599 If it does, I will be sure to add this requirement to the 'getting started' wiki...

[2015-12-10 14:28] gtozzi commented on #389
@ZaneDubya black smoke: even with XNA Game Studio 4.0 Refresh installed it does the same

[2015-12-10 17:26] fdsprod commented on #389
Feels a lot like some weird optimization issue.   Perhaps, for whatever reason, your machine isnt optimizing the code properly, we could probably spend time evaluating the shader, and trying to limit it's instruction set to <= 64, but thats going to take time.   Alternatively, @gtozzi you can try to up the shader version to 3.0, at the bottom of the .fx file there are parts that say

[code]

chang

[2015-12-10 20:27] gtozzi commented on #389
@jeffboulanger >C:\UltimaXNA\dev\Content\Content\Shaders\IsometricWorld.fx : error : XNA Framework Reach profile does not support pixel shader model 3.0.

Yep, by knowing how the shader works it should not be hard to shrink it down to 64 instructions. It looks like the oversized one is the PixelShader_Hue.

[2015-12-10 20:55] fdsprod commented on #389
Ah, we only support Reach, I didn't know that.  Seems weird, to bad.  Ya I'm sure it can be optimized, ill take a stab at it since I'm on an optimization kick lately.  But may not be fore a bit, holidays coming up and all.  Got a lot going on.

[2015-12-11 15:24] ZaneDubya commented on #389
@gtozzi Thank you for trying out my solution - sorry it didn't help. I wish we could see the output of your shader compiler.

@jeffboulanger Definitely could be optimized! I wonder if it might be possible to eliminate all the if/else statements through selecting different shaders based on the hue requirements? Six different shaders:
1. No hue, no lighting
2. Partial hue, no lighting
3. Entire hue,

[2015-12-12 07:19] denizsokmen opened #391 "Very long htmlgumps are causing infinite loop"
IN HtmlDocument.cs, line 444. It gets stuck forever because for some reason it's always trying to break the words and the following "i--;" line causes the for loop to work infinitely.

[2015-12-13 01:14] ZaneDubya commented on #391
Can you post the text of the gump that is causing this issue?

[2015-12-15 00:08] fdsprod commented on #389
Ya, if statements are expensive.  The downside to switching, is you lose some of your batching, which means more Draw calls, but depending on ordering, it may not be a big deal.

[2016-01-08 17:25] msx752 commented on #60
i am creating a new macro manager. it has ten combinations which you like, but visual different from the orginal visual.. if you like i can publish it when i finish it
![macros_option](https://cloud.githubusercontent.com/assets/11164838/12204513/401f1434-b63d-11e5-964d-6c0348a668e0.jpg)

[2016-01-08 17:37] ZaneDubya commented on #60
@MSAlih1 Looks awesome!

[2016-01-08 17:37] PatrikSamuelTauchim commented on #60
@MSAlih1 Looks great!

[2016-01-08 21:33] greeduomacro opened #394 "Stamina Movement Speed Change Not Being Incurred with 1 Stamina"
Hi Zane, love your work on this project and thank you so so so much for developing this client!

As for the issue, specifically, OSI made stamina movement checks tied to the client and not the server as annoying as that is. Anyway, this is a pretty big problem for balance reasons because if a player connects to a shard with UltimaXNA for example they can completely bypass these checks. In particul

[2016-01-09 08:04] rdeclaux commented on #60
:+1:

[2016-01-09 08:11] robertdeclaux commented on #60
:+1:

[2016-01-09 10:32] naggie commented on #60
Yes! :+1:

[2016-01-09 23:06] msx752 commented on #60
i finished and created pull request. :+1:

[2016-01-10 22:34] ZaneDubya commented on #60
@MSAlih1 Great! I've checked out your PR and will merge it to master as soon as I can.

[2016-01-10 23:24] MSAlih1 commented on #60
thanks.
switch case which UseMacro's method is index numbers wrong. example: "targert self" i writed case 17: but case 23: correct and  case 22: Last Targert correct....

[2016-01-11 15:07] MSAlih1 opened #396 "an error SingleItemToContainer packet and VendorBuyGump on Sphereserver"
i created a new npc " for example: Tailor", after that i said "buy" later i received very long an error (i think its verdor item list but why i get an error ?).after that i getting same error on VendorBuyGump" :https://github.com/ZaneDubya/UltimaXNA/issues/384 . when i jumped to "m_OKButton.MouseClickEvent" i getting a transparent menu.
and this: https://github.com/ZaneDubya/UltimaXNA/issues/348
!

[2016-01-13 17:31] ZaneDubya commented on #396
And, oddly, the vendor buy background isn't showing up...

[2016-01-13 17:31] ZaneDubya commented on #396
I'm guessing this is caused by a similar problem to what was causing the incorrect packet length for the features packet.

[2016-01-17 19:33] msx752 commented on #396
i resolved with two important fix :+1:  #348(fixed) ,,  #384(fixed:with #398)

[2016-01-17 19:43] #396 closed

[2016-01-17 20:13] msx752 commented on #330
PartySystem is ready and all functions are working. EXCEPT three important problem.
1. i need when player clicked the private message button or Green button after that chat will change /p1 [username]
2. when partymember was going far away, i couldn't get the member's Status, so i can't update MemberStatus.
3. need Partymember Status be targetable for spells.

![partys1](https://cloud.githubusercon

[2016-01-17 22:08] MSAlih1 commented on #396
when i sended custom clientVersion 6.0.6.2. "SingleItemToContainer error" was resolving

[2016-01-23 22:32] ZaneDubya commented on #384
Fixed here.

https://github.com/ZaneDubya/UltimaXNA/blob/883b6ebee18b30c3830f6a0fd4df038d6a2f9b10/dev/Ultima/UI/WorldGumps/PaperDollGump.cs#L163

[2016-01-23 22:32] #384 closed

[2016-01-23 22:38] ZaneDubya commented on #386
Hey @jorsi ! I've figured out what was going on - when the client receives a mouse up, it should clear the previous mouse down - so if you have a single button mouse that can send both left and right mouse button messages, you could potentially get input messages in this order:

Click with one finger: Left.Down
Click with two fingers: Right.Down
Touchpad sends Left.Up
Let go of two finger input: R

[2016-01-23 22:38] #386 closed

[2016-01-23 22:39] ZaneDubya commented on #389
I'm closing this because I'm unable to replicate it - but we will fix up the shader in the future, both in the interest of speeding it up and resolving this issue for you. Hopefully that works!

[2016-01-23 22:39] #389 closed

[2016-01-23 22:40] ZaneDubya commented on #381
I think this has been fixed!

[2016-01-23 22:40] #381 closed

[2016-01-23 22:41] ZaneDubya commented on #385
@jorsi I think my fix for the previous issue you were having will have resolved this as well (hopefully!).

[2016-01-23 22:41] #385 closed

[2016-01-25 19:38] ZaneDubya commented on #394
@greeduomacro Just to confirm, if I add a check that will force walking when stamina == 1 and no movement when stamina == 0, this will fix the issue?

Thanks!

[2016-01-25 20:45] msx752 commented on #317
@ZaneDubya i have a small code which is return color's index number
returns 3D array:
X(color's type),
Y(color's contrast),
Z(color's brightness)
but i couldn't test because i don't know about 2DTexture. can you test code?
https://gist.github.com/msx752/3e00f03fc24b2af144a1

[2016-01-26 20:57] greeduomacro commented on #394
Yes sir you got it. ^__^

[2016-01-30 08:24] Pishka opened #401 "ChatControl not registered"
Server version RunUO 2.3r987
Client version 7.0.18.0
After logging with selected character Im getting following error in console:
Error 2016-01-30 11:56:16:9257 Attempted to get service service of type UltimaXNA.Ultima.UI.WorldGumps.ChatControl, but no service of this type is registered.
And then game stops on message "Entering Britannnia..."

[2016-01-30 14:43] ghost commented on #401
Sorry for inconvenience. Finally, I found out that UltimaXNA supports only one version of client

[2016-01-30 18:10] ZaneDubya commented on #401
@Pishka I think we can still fix this issue! Thank you for reporting.

[2016-02-01 00:59] mhague opened #402 "Rubberbanding on diagonal movement 'by' impassable tiles."
Walking Left, Right, Up or Down should almost always cause direction change when needed.

Example, currently walking in this way into the side of a building will cause you to change to cardinal direction, and follow the wall.
This works until you arrive at a corner, in which case you will see rubberbanding as the client thinks it is a valid move.

[2016-02-01 12:08] ZaneDubya commented on #402
@mhague I think that players with gamemaster access level on RunUO can walk through impassable corners (see https://github.com/runuo/runuo/blob/81e5f9845931eeecc26d608b5c8e954ece194235/Scripts/Engines/Pathing/FastMovement.cs#L428).

Is there some way I can detect on the client whether the access level has been set to game master? If not, I think I'll follow your suggestion and limit diagonal movem

[2016-02-01 12:33] SaschaKP commented on #402
If Three are obstacles left&right but not in diagonal no one Can Pass.  Even game Masters

Inviato da Samsung Mobile.

<div>-------- Messaggio originale --------</div><div>Da: Zane Wagner notifications@github.com </div><div>Data:01/02/2016  13:08  (GMT+01:00) </div><div>A: ZaneDubya/UltimaXNA UltimaXNA@noreply.github.com </div><div>Cc:  </div><div>Oggetto: Re: [UltimaXNA] Rubberbanding on diagonal

[2016-02-01 14:01] mhague commented on #402
Did not know that about GM access.

Agree it should be limited.  It's especially apparent when walking diagonally through areas with lots of 1 tile blockers (i.e. the forest?) where players often walk diagonals to avoid getting stuck on rocks and trees.

[2016-02-01 14:59] ZaneDubya commented on #391
This also happens at private void HtmlElement.LayoutElements_BreakWordAtLineEnd(List<AElement> elements, int start, int lineWidth, List<AElement> word, int wordWidth, int styleWidth)

[2016-02-01 17:43] mhague commented on #402
I don't know if this is still implemented in runuo, but there is this to check access:

http://www.docs.polserver.com/packets/index.php?Packet=0xF0

[2016-02-01 20:28] ZaneDubya commented on #402
@mhague That's an interesting find! I'll go ahead and disable diagonal movement through 'impassable' corners, and will close this issue when I've done so. Thanks guys!

[2016-02-01 21:01] frozenblit commented on #402
Just to chime in, POL also blocks diagonal movements (no GM check, I wasn't aware that the classic client allows this freedom for GMs :)). Is the 0xF0 packet implemented anywhere? As far as I know, the  original client only tests whether the char has a GM graphic to enable special features.

[2016-02-01 21:57] frozenblit commented on #402
The only ID seems to be 0x03DB (at least that's the only one POL allows passing through doors, besides ghosts :D). The difference between couns/gm/seers/etc should be only their color.

[2016-02-07 18:21] Immortel71 opened #403 "Issue Loading"
![xnabug3](https://cloud.githubusercontent.com/assets/17111748/12874226/a0418ee2-cd9d-11e5-8057-e47053b0f303.png)

Got this errors trying to load, any hints ?

[2016-02-07 21:54] greeduomacro opened #404 "Backpack (Packet Issue?) Invisible Wall"
Bit of an odd one here, specifically I can't move my opened backpack (gump or packet?) any lower than about the first 1/4th of the screen. I can move it from left to right but not very far down. I've attached an image because I'm hoping that will help since my explanation was kinda bad (sorry).

http://imgur.com/EUvyFIR

[2016-02-07 22:02] greeduomacro opened #405 "Ethereal Mounts Unable to be Mounted/Etc."
Ethereal Mounts seem to not be usable in the context that there is no casting animation, nor is there a speed increase after getting on the ethereal, nor does the player show that they are on an ethereal mount.

[2016-02-07 22:12] greeduomacro opened #406 "Sound Spam"
Not a huge issue but would be a nice quality of life change to add a delay between the spamming of sounds, especially in the context of mobiles. If you compare Ultima XNA with the 2D client by say having 50 dragons fight a champion at the same time you will see what I mean. That is to say the sounds are pretty unpleasant in the UXNA client compared to the 2D client because there is a delay on the

[2016-02-08 06:42] greeduomacro commented on #404
What's even stranger is that I can no longer replicate this issue. x_x

[2016-02-09 14:42] ZaneDubya commented on #403
@Immortel71 Would you post your entire debug.log file? Thank you!

[2016-02-20 22:13] Vlek opened #407 "0xf0 packet support"
I've had to search long and far for a server that is still using client versions <= ML, and, when I did find one, I got tossed an error that UXNA didn't understand the extended information (0xf0) packet.

[2016-03-02 16:48] Xen85 opened #409 "frame skipping bug"
Video reference : http://www.twitch.tv/aop_stream/v/48289461

Xen85 feb 22 10:17
animations are slow
it should be cool to accelerate them

ZaneDubya feb 27 00:31
@Xen85 which animations? the projectiles?

Xen85 mar 01 14:15
yes
arrows and so on
even mobile animations are slow
ther's something wrong

Xen85 11:28
maybe ther's some problems in frame skipping, maybe the client renders 60 pfs but ultim

[2016-03-06 02:58] greeduomacro commented on #377
Spellbooks are apparently no longer openable btw.

[2016-03-06 02:59] greeduomacro opened #410 "Not Possible to Move Your Character While Dragging an Item"
If you pick up and drag an object by holding left click it is no longer possible to move with right click.

[2016-03-06 03:03] greeduomacro opened #411 "Throwing Explosion Potions Animation is Bugged"
If you throw an explosion potion the animation shows the potion flying up North West and then appears at the final destination a second or so later.

[2016-03-06 03:05] greeduomacro opened #412 "Dragging an Object to/in your Backpack Makes the Object Disappear"
If you drag an object with left click and then drop the object in your backpack then the object, regardless of what it is, simply disappears and requires you to log out and log back in to be able to see/interact with the object once again.

[2016-03-06 03:10] greeduomacro opened #413 "Macro Editor Crashes Whenever it is Used"
Adding any new macros causes the macro editor to crash.

[2016-03-06 03:15] greeduomacro opened #414 "Spells do not Show Above Player's Heads when Casting"
Spells instead show up on the bottom left of the screen instead of over each individual player's heads when casting spells.

[2016-03-06 03:19] greeduomacro opened #415 "War Mode Does not Respond Properly"
You double click the mobile that you want to attack and like, 99% of the time you don't actually attack and also if you double click on the health bar of another player/mobile while in war mode you do not attack that player or mobile.

[2016-03-06 03:25] greeduomacro opened #416 "Double Clicking on Health Bars of Other Players Does not Bring up Their Paper Dolls"
If you drag someone's health bar and then double click it, it does not bring up their paperdoll.

[2016-03-06 03:27] greeduomacro opened #417 "Using Ctrl + Shift Shows all Objects"
The way Ctrl + Shift is supposed to work (I believe) is that it should only show movable objects and mobiles. Currently it shows all objects regardless of whether or not the object is movable. Also you can see the items on your paperdoll (even your hair/etc).

[2016-03-06 03:31] greeduomacro opened #418 "There is No Tab Lock"
If you spam the tab key to tab in/out of combat you do not get "locked out". I do not know the specific numbers of the amount of spam/duration of the lockout but that is the case nonetheless.

[2016-03-06 03:38] greeduomacro opened #419 "Corner cutting and rubber banding."
I'm not precisely sure what it is but I think it's something like, trees count as mobiles perhaps? If a staff member runs right next to a tree they can run around the tree but if a player runs around a tree they cannot run around the tree. I almost wonder if trees are being counted as mobiles or something? Not sure...

[2016-03-06 03:40] greeduomacro opened #420 "Moving Between Facets Causes all Items to Disappear from Backpack"
If you switch from Trammel to Felucca, etc etc then all of your items visually disappear from your backpack and you are forced to relog to see them again.

[2016-03-06 03:40] greeduomacro commented on #404
I don't think this is an issue anymore so I think it's probably fine to close it for now imo.

[2016-03-06 03:40] #404 closed

[2016-03-06 03:46] greeduomacro opened #421 "No Party Option on the Paperdoll"
You cannot party with other players due to the lack of a party manifest and nothing happening from typing /party. See below for how it should be:

![image](https://cloud.githubusercontent.com/assets/8658771/13552198/40d82c6a-e30d-11e5-92bf-d69abaf85af4.png)

[2016-03-06 03:47] greeduomacro opened #422 "Snake Corpses Cause a Crash"
For some reason snake corpses specifically cause a crash for the client. *shrugs*

[2016-03-06 03:48] greeduomacro opened #423 "No Character Profile on the Paperdoll"
There is no Character Profiles on player paperdolls.

[2016-03-06 03:49] greeduomacro opened #424 "There is No Target Highlighting in War Mode"
If you are attacking a target the target should be highlighted.

[2016-03-06 03:58] greeduomacro opened #425 "When your target is a mobile it should have a mini health bar beneath the target"
See the screenshot below

![image](https://cloud.githubusercontent.com/assets/8658771/13552185/a2a09a78-e30c-11e5-9756-90638a8aa0d9.png)

[2016-03-06 09:39] naggie commented on #413
hm, would it be possible to have a CLI version of the macro editor controlled by commands?

[2016-03-06 14:31] ShiniHatsune opened #426 "Canceling a pet command that require a target cause all these functions to stop working"
if you press escape to cancel a target while using a pet command that require a target such as all kill , transfer , remove friends , add friends ect. these functions become not usable until you relog.

x-x

[2016-03-06 15:18] ShiniHatsune commented on #418
''Tab/combat lock'' duration is 2 seconds and lock you from using peace mode  / war mode  for that amount of time.

I believe it occure when entering peace mode and changing to war mode or vice verca 4 times in a row under a 0.30 seconds delay (approximately)

[2016-03-06 17:35] ShiniHatsune commented on #416
also something else that is similar , double clicking (left click) other players/mobiles health bars while being in war mode doesn't attack them.

[2016-03-06 17:47] ShiniHatsune commented on #425
That mini health bar is definitely very useful.

Also that little arrow on top of your target from the 2D client like shown in that image above change color depending of your target notoriety this could be a nice addition as well !

(it's a great visual indication)

[2016-03-13 09:01] SkavenCleric commented on #419
You can't 'cut corners' in Ultima, yet this client allows it, resulting in your character getting 'stuck'.

http://prntscr.com/aemj3k

[2016-05-08 07:45] jmenashe opened #428 "Client doesn't exist"
The readme states that the client can be downloaded from here: http://games.mirrors.tds.net/pub/ea-games/uo/uoml_setup.exe

The link is broken. Given that only one particular version is supported, the readme should point to a safe, legitimate, and reliable link for the installer.

[2016-05-15 06:53] fdsprod commented on #428
http://download.cnet.com/Ultima-Online-Mondain-s-Legacy-client/3000-7540_4-10432237.html should work

[2016-05-15 06:54] fdsprod commented on #428
Leaving open so readme is updated

[2016-05-30 14:39] ghost commented on #412
Seems that object only disappears when adding to container, cause of wrong container id sent by addSingleItem packet. I haven't understand it yet

[2016-05-30 18:22] ghost commented on #412
Yah! Finally, get on with it! The trouble was the versioning, on my machine uxna gets wrong client version - 0.0.0.0.

[2016-09-09 20:37] Lemonter opened #431 "Client crash after"
Client crash after choose character
error say  array is out of bounds
can some one help me?
[debug.zip](https://github.com/ZaneDubya/UltimaXNA/files/464771/debug.zip)

![crash](https://cloud.githubusercontent.com/assets/22106392/18401842/a67aae8e-76ed-11e6-9e80-65eaabfd5ed4.png)

[2016-09-09 23:01] Lemonter commented on #431
UPDATE
i have changed array limits from 0x4000 to 0x12000 and client STARTS!! but i have new problems
![paperdoll](https://cloud.githubusercontent.com/assets/22106392/18405200/0b5450b8-7701-11e6-8f9b-c7b22f932d00.png)

 all tiles goes crazy salad and crash when i try look paperdoll
it say's error Object reference does not point to an object instance

[debug.zip](https://github.com/ZaneDubya/Ultima

[2016-10-16 06:11] hifi opened #432 "Porting to MonoGame"
I spent this morning furiously hacking UltimaXNA until I got this on Linux on Mono and MonoGame:

![tmp](https://cloud.githubusercontent.com/assets/106598/19415672/125d0ff8-9380-11e6-9156-1f9219ad5de3.png)

Would it be an interesting goal to make UltimaXNA portable to non-Microsoft platforms with MonoGame? Mostly my problems were with the abysmal amount of PInvoke and I didn't even debug why the c

[2016-10-16 09:22] SaschaKP commented on #432
That's truly interesting, since it can at least compile and work.

Anyway, I think this has to be finished before starting a port, there are still many parts that need a workout.

[2016-10-16 09:25] SaschaKP commented on #431
are your "Items" bound to 0x4000 (pre-HS/SA) or post (0x8000)?

[2016-10-16 09:26] hifi commented on #432
MonoGame is essentially an open source version of XNA with most of the API in place. Getting this on MonoGame makes it easier for people to contribute when they can work on the project on other platforms than Windows.

I can't contribute anything unless it runs on Linux, for example.

[2016-10-16 09:28] SaschaKP commented on #432
well, then I'm in with you, I think that effectively this can get lot of support from the *nix community.

If I were you, I would look into UOFiddler and ultima.dll, it's written in c#, so you can extract code from there. It renders all gumps and images correctly, and I can guess that's a problem in rendering or maybe reading the files.

[2016-10-16 09:32] hifi commented on #432
There's no point in doing it unless the project maintainer(s) agree. The port can be done and I think it's relatively easy but it's not worth anyone's time unless it's a mutually agreed goal. I'm not interested in forking and leaving more dead code behind so need to wait for for an official response.

[2016-10-16 19:35] fdsprod commented on #432
The official response is that @ZaneDubya wanted to get it finished in XNA for Windows before looking into porting the code.

[2016-10-16 21:15] orsi commented on #432
I'm sure @ZaneDubya would love a Linux port eventually. Doesn't hurt to fork and experiment on it yourself in the meantime though.

[2016-10-16 22:10] #432 closed

[2016-10-17 00:13] cmileto commented on #432
wish there was a linux port. Im not installing windows just to mess with xna

On Sun, Oct 16, 2016 at 6:10 PM, Jeff Boulanger notifications@github.com
wrote:

[2016-10-17 03:55] hifi commented on #432
I spent a few more hours and I got it to a state I could login to a local shard so given enough time it would definitely be playable but I'm not going to spend more of my time on something that's not going to be merged in.

For a project this scale, I don't have much hope for it to be "finished" before letting more developers in. The number of XNA Windows developers that also love UO is very limit

[2016-10-17 04:05] fdsprod commented on #432
@hifi I would say the number of capable developers who love UO is getting limited :(

[2016-10-17 04:10] hifi commented on #432
@jeffboulanger Using a platform only a handful of open source developers want to touch doesn't really help your cause. Just sayin'.

[2016-10-17 04:50] orsi commented on #432
@hifi Make a linux based UO client and we'll be glad to send some pull requests your way.

[2016-10-17 04:53] hifi commented on #432
@jorsi Why would anyone make a Linux only UO client? That doesn't make sense at all.

[2016-10-17 06:31] fdsprod commented on #432
@hifi So let me give you some background on this project.   @ZaneDubya started this project many years ago.   It was a solo project to help him learn how to write a game, and to recreate a game he loved playing in prior years.  Over the course of the years it has continued to only be a hobby project that he works on from time to time, when he gets an itch to code and has free time.   Without getti

[2016-10-17 06:57] hifi commented on #432
I still get the kind of vibe from the comments that people don't really understand what MonoGame is and that it would require a complete overhaul of the client to get it to work and it's _not_ the case. MonoGame isn't a completely different framework, it's a cross-platform replacement for XNA and has 90% of the **same** API available and works as a drop-in for almost all non-Windows specific code.

[2016-10-17 14:34] fdsprod commented on #432
If that many ppl are interested then fork it, I'm done commenting on this matter,  good luck.

[2016-10-17 15:12] orsi commented on #432
@hifi You are interested in porting this to linux, so apparently you want to make a linux-based client. It's not that no one here will support you, which I think is the contention, but that the available support for the original goal -- Windows, XNA framework, one version UO client -- is rather limited already. You can see the commit history and see that development comes in spurts, and from very

[2016-10-17 15:53] frozenblit commented on #432
Are the currently missing features from UltimaXNA necessarily
platform-specific? A proper abstraction could ensure that Zane doesn't have
to worry about them. I'm not familiar with XNA nor MonoGame, but wouldn't
it be possible to refactor and isolate the platform-specific bits into few
classes? A fork as a proof-of-concept would be great, and probably convince
Zane that it's worth merging it back.

[2016-10-17 16:03] PatrikSamuelTauchim commented on #432
Monogame was already mentioned in #28 in 2015 and there also is @ZaneDubya response on that.

There are probably no doubts that Monogame is a future of XNA games, since XNA is dead.

I dont really think, that Linux (2% penetration) and Mac (+-10?% penetration) is now a major concern for UltimaXNA development. However it can became necessary to move to Monogame, if we hit some XNA limitations (exce

[2016-10-17 16:16] muratsu commented on #432
AFAIK, UltimaXNA is based on OpenUO. I've forked OpenUO and ported over Monogame 3-4 years ago. If you're interested you can check it out: https://github.com/muratsu/open-uo The required changes are minimal since Monogame is pretty much a drop-in replacement of XNA.

For windows folks, one advantage of using Monogame would be that the project can move to a newer version of VS IDE. Since xna is aba

[2016-10-17 16:23] fdsprod commented on #432
It's not based on open up, more just the original ultimate sdk.

[2016-10-17 16:24] fdsprod commented on #432
It's not based on open uo, more just the original ultimate sdk.  I tried to get Zane to build it on open up but he wasn't interested at the time

[2016-10-17 16:28] muratsu commented on #432
Ah thanks for the clarification @jeffboulanger. I'm not really familiar with the codebase of UltimaXNA - in that case engine replacement might be not as easy.

[2016-10-17 16:29] hifi commented on #432
I would probably start a fork by having UltimaXNA as a git subtree and create a new solution/csproj that uses the code from within the subtree and replacing the classes that aren't portable with portable ones. That's basically what I did do but in more hackish way. That also preseves UltimaXNA and it's fairly easy to get updates from the main project.

Also this seems to be the most active issue i

[2016-10-17 16:34] muratsu commented on #432
I would suggest switching the engine on Windows first and fix the x-platform bits after. Smaller patches are easier to work with.

[2016-10-17 16:38] hifi commented on #432
@muratsu That is true, but that would require Windows. If someone could start by doing that first and I could attack the Mono/Linux issue, that would be splendid.

[2016-10-17 18:30] orsi commented on #432
I might try my luck at it, since I am developing in C# at work now. Not promising anything though, I'm rather uninformed when it comes to XNA/MonoGame overall and this seems like it might be over my head.

If it sparks some new blood in the project it'll be worthwhile.

[2016-10-18 06:05] SaschaKP commented on #432
I'll follow, and I have windows, so I have just to use Monogame and see how it works in windows?

@hifi I need to know what are the changes you made to make the code at least compile.

[2016-10-18 07:42] hifi commented on #432
@uoitalia Since there's interest, I'll clean up my hacks into the format I described earlier to make it buildable and remotely runnable on MonoGame. You probably only need half of them on Windows but they will be cleanly separated from UltimaXNA so it should be easy to cherry pick what you need. Will try to do it tonight.

[2016-10-18 12:52] hifi commented on #432
@uoitalia https://github.com/hifi/UltimaMono here you go, that's the minimum changes required for it to build on MonoGame (main executable).

For issues regarding the port, we should move the discussion to that repo. I'll add some gotchas as issues.

[2016-10-18 13:43] ZaneDubya commented on #432
@jeffboulanger Thanks for keeping people informed! Everything you said is correct.

@hifi This looks like an interesting effort.

With regards to the color issues - have you tried exchanging the values of the R and B channels?

With regards to the shader issues - you'll likely have to build the content with a MGContent solution, and you'll need to build for a slightly different PS model on Mac and

[2016-10-18 14:08] hifi commented on #432
@ZaneDubya I quoted @jeffboulanger when he said you don't want to "support multiple platforms", it wasn't an exact quote from you and it might have been exaggerated so there's for the record. I didn't really like the approach of @jeffboulanger talking on behalf (even if it's agreed upon) and it made me more annoyed than I should have been.

I did build the shader as seen here https://github.com/hi

[2016-10-18 14:37] ZaneDubya commented on #432
@jeffboulanger and I are equally qualified to speak on behalf of this project.

Thanks for responding to my questions. I don't want to promise to merge the MG solution back in before seeing the final code. I hope you understand.

I would not merge it absent feature parity across the mac, linux, and windows platforms. I don't want to support people asking why a given feature did not work on their p

[2016-10-18 15:28] fdsprod commented on #432
@hifi I would like to just clarify myself on support.   Having to support 3 different platforms (win,mac,nix) causes the developer to have to be prepared to debug in all 3 platforms.   MonoGame does a pretty good job making sure you wont have to do this, however, its not fullproof.   I know this from past experience.   So as for my comment, we already have limitted time and effort being put into t

[2016-10-18 22:20] PatrikSamuelTauchim commented on #428
Done, can be closed.

[2016-10-18 22:24] PatrikSamuelTauchim commented on #416
@greeduomacro Should be implemented with #434
@ShiniHatsune I will take look on that

[2016-10-18 22:39] #428 closed

[2016-10-19 17:25] PatrikSamuelTauchim commented on #416
Completed in #434

[2016-10-23 19:33] ZaneDubya commented on #416
Thanks Patrik!

[2016-10-23 19:33] #416 closed

[2016-10-23 20:28] ZaneDubya commented on #406
Fixed in #435, minimum one second spam delay between sounds requested to play by server.

[2016-10-23 20:28] #406 closed

[2016-10-23 20:28] ZaneDubya commented on #394
Fixed in #435 - can't move at 0 stam, can only walk at 1.

[2016-10-23 20:28] #394 closed

[2016-10-24 01:34] ZaneDubya commented on #422
So true. And so bizarre. I spent five minutes refreshing my memory regarding how the body translator works -- oof, this source code is a real beaut! So poorly organized! --- and it looks like the snake body definition index (in anim.idx) doesn't match the typical Animal body type.

... but looking at InsideUO, it looks like a Snake is a monster type, not an animal! Let me change that in the body d

[2016-10-24 01:35] ZaneDubya commented on #422
Yup, that fixed it! Thanks @greeduomacro

[2016-10-24 01:35] #422 closed

[2016-10-24 14:17] ZaneDubya commented on #420
Interesting! This should be easily fixable.

[2016-10-25 05:23] msx752 commented on #423
İt is fixed but not merged yet https://github.com/msx752/UltimaXNA/commit/6e9a355a1d22db6225cb93b5da92ba69361d1c70

[2016-10-25 05:24] msx752 commented on #421
Look at https://github.com/ZaneDubya/UltimaXNA/pull/400 , https://github.com/ZaneDubya/UltimaXNA/issues/330

[2016-10-25 05:25] msx752 commented on #413
First of all, press the default button

[2016-10-25 23:39] #401 closed

[2016-10-25 23:46] ZaneDubya commented on #401
Woah. If you write the text "Fixes #xxx" in a commit message, it automatically closes the issue.

Hopefully it's fixed, then!

[2016-10-27 21:58] PatrikSamuelTauchim commented on #415
While working on #434, I had no issues attacking mobiles. Can someone verify if this is still an issue and if so, provide more details?

[2016-10-29 21:30] msx752 opened #442 "necessary macro commands"
we need some properties such as

- [ ] `LastObject` - last clicked object's serial
- [ ] `LastTarget` - `maybe i am wrong but` last clicked object or ground's serial (**it already has but not works correctly)**
- [ ] `TargetSelf` - client user serial
- [ ] `WaitForTarget` - waiting for cursor response then macro will continue **(example: use skill to other player)**

these are very important macro

[2016-10-31 16:26] ZaneDubya commented on #419
Cutting corners is allowed by default for admins on RunUO - which is my test environment - so I completely missed this issue. It would be a fairly easy fix though:

I would allow the client to cut corners b default, and upon having the corner move rejected once, maybe twice by the server, I would turn off corner cutting until the next log in.

[2016-10-31 16:30] ZaneDubya commented on #412
I believe I've fixed the version checking issue, which may have fixed this issue as well.

[2016-10-31 16:31] ZaneDubya commented on #411
Haha that's hilarious! Thank you for finding this issue. I'll see if I can fix this.

[2016-10-31 16:32] ZaneDubya commented on #414
This should be an easy fix - I just need to change how chat messages of this type are displayed. Thank you for reporting!

[2016-10-31 16:35] ZaneDubya commented on #418
Milestone 0.8 continues to grow...

[2016-10-31 16:37] ZaneDubya commented on #425
Neat. I think we can add that. Does this targeting graphic appear over trees/houses when the targeted mobile is hiding behind those objects?

Does anyone know when this feature was added to the legacy UO client?

[2016-10-31 16:37] ZaneDubya commented on #426
Sad! I'll see if I can't treat your pets better.

[2016-10-31 16:43] mhague commented on #419
This is a direct result of and duplicate of #402

[2016-11-01 12:37] Ugdhar commented on #425
I believe that targeting was added with Age of Shadows

[2016-11-02 12:16] ZaneDubya opened #444 "Missing body sprites should render as a no-draw tile?"
When a client is requested to draw a body sprite that does not exist within the client's AnimX.mul files, it should display the body as a no-draw tile, instead of simply not drawing anything.

[2016-11-02 16:56] ZaneDubya opened #445 "Correct file path names throughout."
As part of this issue, change all file path separators throughout to the single forward slash.

[2016-11-02 19:22] PatrikSamuelTauchim commented on #444
Is there any difference between drawing no-draw tile and not drawing anything at all?

[2016-11-02 21:19] ZaneDubya commented on #444
Yeah! Drawing the no-draw tile will indicate that there's something invisible there :) I mean that we'll draw the actual no-draw graphic. Maybe we can add an overhead with the name as well.

[2016-11-03 16:38] ZaneDubya opened #447 "Fix map patching using *dif*.mul files."
By default, the client should not patch any files. On receipt of a valid 0xBF/0x18 packet with positive diff indexes, the client should enable map patching using the Stadifl#.mul,Stadifi#.mul,Stadif#.mul,Mapdifl#.mul, and Mapdif#.mul files.

This will require that the map be re-loadable at runtime.

[2016-11-03 16:43] ZaneDubya opened #448 "LBR Compatibility."
Client currently does not run on LBR. Fixing this will require not loading AnimX.mul files that do not exist, reducing the number of skills expected, loading cliloc patches, not drawing tool tips, and other miscellaneous fixes.

[2016-11-03 21:40] PatrikSamuelTauchim commented on #444
Is that wanted/expected behaviour? I cant recall how is CC handling this, if it is crashing or just drawing nothing, but I remember running around with completely invisible character (BodyID 0?) while making screenshots instead of being hidden and having ugly grey chars on pictures.

Maybe we could draw no-draw tile only while debug (or other option) is enabled?

[2016-11-03 22:26] ZaneDubya commented on #444
I think what your proposing is reasonable. But let me explain the reason for my proposal:

UXNA is hopefully going to be compatible with any data set, connecting to any server, as long as the server doesn't have a version check and the server doesn't send the client to a map that isn't described in the client's data set. However, let's propose, just for funsies, that a client with a T2A-era data s

[2016-11-03 23:06] ZaneDubya commented on #447
Fixed in        3621a38

[2016-11-03 23:06] ZaneDubya commented on #447
There is still some rubber banding off of invisibles, but it happens in the classic client as well. The diffing is fixed.

[2016-11-03 23:08] #447 closed

[2016-11-04 07:24] PatrikSamuelTauchim commented on #444
Ah, now I understand. I was never playing with anything else then UOML so I did not realized this. Sounds reasonable.

I am not sure, if body 0 is actually and empty slot or there is just an empty animation loaded or it is setup in some other way. Never looked into that, I would just like it to stay this way.

As a GM, sometimes you may want to capture  screenshots of an event without having hidde

[2016-11-04 15:34] ZaneDubya commented on #421
Note to self: double check remaining packets:

[code]

[2016-11-04 19:14] ZaneDubya commented on #448
2a732dead6b39aa03ae269d3e3a182fa1fc37bf0 in branch lbr-fix fixes various LBR issues (except for loading the extra cliloc patches and disabling tooltips), but it relies on code in #400 - so that PR needs to be merged first.

[2016-11-06 00:22] ZaneDubya opened #450 "Miscellaneous graphical bugs"
- [ ] Robe displays over hair?
- [ ] Mobiles overlap items to tile below. Issue caused by deferred mobile views.

[2016-11-06 17:05] ZaneDubya commented on #421
Merged in #451. Please open a new issue for any bugs/feature additions with the party system.

[2016-11-06 17:05] #421 closed

[2016-11-06 17:06] ZaneDubya commented on #330
Merged in #451. Please open a new issue for any bugs/feature additions with the party system.

[2016-11-06 17:06] ZaneDubya commented on #313
Merged in #451. Please open a new issue for any bugs/feature additions with the chat window.

[2016-11-06 20:33] ZaneDubya commented on #448
What I assumed were cliloc patches aren't patches. They're extensions. I don't know where they're used, and don't intend to include them unless I can figure out where they're used.

Format guide:
http://wpdev.sourceforge.net/docs/guide/node172.html

[2016-11-06 20:35] #448 closed

[2016-11-06 20:40] ZaneDubya commented on #412
@Pishka @greeduomacro I'm pretty sure I've fixed this! The problem was loading the version from old versions of the client - some did not have the version set, so it reported as 0.0.0.0. I've implemented new version checking logic, and this should not be an issue any longer. Please let me know if this is still an issue.

[2016-11-06 20:40] #412 closed

[2016-11-06 20:56] ZaneDubya commented on #420
Confirmed, this is still happening...

[2016-11-06 21:26] ZaneDubya commented on #420
@greeduomacro I believe this is fixed in 764ad3c. Please let me know if this is not the case.

[2016-11-06 21:26] #420 closed

[2016-11-06 21:35] ZaneDubya commented on #419
I just logged on to my test server with a non-admin client - I agree, this is really frustrating. I'll see if I can't whip something up for it...

[2016-11-06 22:17] ZaneDubya commented on #419
Should be fixed in ccb0585. Unfortunately, I could not think of an easy way to allow both admin-style corner cutting and player-style no-corner movement, so I just disabled it by default. You can enable admin-style corner cutting movement with Settings.UltimaOnline.AllowCornerMovement = true.

[2016-11-06 22:17] #419 closed

[2016-11-06 22:17] ZaneDubya commented on #402
Fixed in ccb0585; see #419 for more comments.

[2016-11-06 22:17] #402 closed

[2016-11-06 22:36] ZaneDubya commented on #403
For all I know, this has already been fixed in the most recent set of commits. Can't address it without more information :(

[2016-11-06 22:36] #403 closed

[2016-11-07 02:40] ZaneDubya opened #453 "Moongate gump doesn't work."
You can't use the gump to move to a different location. Nor can you use the checkboxes to select a destination. Need to fix this.

[2016-11-07 12:50] #284 closed

[2016-11-07 12:51] ZaneDubya commented on #284
I believe this is fixed.

[2016-11-07 16:35] ZaneDubya commented on #407
I think I found what you're talking about here: https://github.com/runuo/runuo/blob/d038571b412188c2f4416f29846f11275c1e7bcb/Scripts/Misc/Assistants.cs

[2016-11-07 17:16] ZaneDubya commented on #407
That's bizarre. I'm pretty sure I made those label changes, not @Vlek . :|

[2016-11-08 18:25] ZaneDubya commented on #431
I've looked into this issue, and I'm fairly certain that this is caused by using client data set that we do not support. I'll look into supporting more recent data sets in the future - for right now, I want to focus on getting the client working with ML-era data.

[2016-11-08 18:25] #431 closed

[2016-11-08 18:27] ZaneDubya commented on #410
Should be easy to fix!

[2016-11-08 18:28] ZaneDubya commented on #409
Lol, what would satisfy you? A 12fps mode? ;)

[2016-11-08 18:29] ZaneDubya commented on #417
That's kinda funny. :) Should be relatively easy to fix, though.

[2016-11-09 22:59] ZaneDubya commented on #405
Tested on ML (4.x.x.x client data set) and RunUO 2.6. I see the casting animation, the mounted animation, and speed is as expected. Closing as fixed. Please comment if this continues to be an issue for you.

[2016-11-09 22:59] #405 closed

[2016-11-10 01:25] ZaneDubya commented on #417
Ok! This is looking good. I've addressed both of the issues you've identified. One remaining issue is that existing player overhead labels are overwritten by Ctrl+Shift - I can fix that in another issue.

[2016-11-10 23:11] ZaneDubya commented on #415
@greeduomacro @PatrikSamuelTauchim I agree with Patrik, this appears to be fixed. Thanks for testing it!

[2016-11-10 23:11] #415 closed

[2016-11-10 23:14] ZaneDubya commented on #444
I've added this in the "five-fixes-for-friday" branch, but it needs QA.

[2016-11-11 00:05] ZaneDubya commented on #407
Added in f5105c4e78aa454820a39d06de53f4debc6f047e.

[2016-11-11 00:05] #407 closed

[2016-11-11 00:16] #417 closed

[2016-11-11 00:16] #414 closed

[2016-11-11 00:16] #410 closed

[2016-11-11 00:25] ZaneDubya commented on #444
I'll QA any remaining problems with my fix in another issue if and when I see them (For example, the missing snake animation which I'm keeping, for the moment, in #450).

[2016-11-11 00:25] #444 closed

[2016-11-11 01:49] ZaneDubya commented on #453
Fixed in 16b510a!

[2016-11-11 01:49] #453 closed

[2016-11-11 15:19] ZaneDubya opened #456 "Add GM Robe to paperdoll"

[2016-11-12 02:01] ZaneDubya commented on #456
Hmmm. I don't see any item with id 0x966c - max is 0x3fff. I see GM rode as item ID 0x204F / and 0x3DB. Paging @TorchwoodPL

[2016-11-12 09:55] boberski666 commented on #456
@ZaneDubya yes that will be it I think
Also set max item count to ffff it will cover all future version

[2016-11-12 12:13] ZaneDubya commented on #456
But that item works on my system. Does it not work on yours? Or is there an additional GM robe that I'm missing?

[2016-11-12 13:07] ZaneDubya commented on #362
No pop up messages are disaplyed when tooltips are enabled.

[2016-11-12 13:08] ZaneDubya commented on #370
@jorsi I stole the to-do list from you comment. Theft!
- [x] Make the book text/title/author editable
- [ ] Open multiple books at once (currently closes previous book and opens new one)
- [ ] Implement client packet to send on changed text
- [ ] Add the sound effect for turning a page
- [ ] Page numbering
- [ ] Improve overall layout and formatting
- [ ] Optional: Draw different book gumps depend

[2016-11-12 19:40] ZaneDubya commented on #456
Ah, you're using 7.0.52.x ... that's not what I have on my system. I'll have to download it and check it out in the future.

[2016-11-12 23:12] boberski666 commented on #456
Please do so :)

[2016-11-18 10:51] SaschaKP commented on #378
in WorldClient.cs:

[code]

This complies with what is written in MSDN for browser opening, and also checks if the user can open a browser or if he doesn't have one registered in the system.

Also, even if not related, in Core/Audio/Asound.cs:

[code]

this is to fix an error that could be caused if the client tries to read an extension and you client insert another extension in the filename.
The

[2016-11-18 10:52] SaschaKP commented on #378
When I can understand how to create a branch and commit there, maybe it would be a lot simpler.
Because in vs2015 I cant find a way and GIT is somewhat new to me, I always use and used SVN

[2016-11-18 12:29] ZaneDubya commented on #378
Thank you!

This is the tutorial I used to learn git: [https://www.atlassian.com/git/tutorials/using-branches](https://www.atlassian.com/git/tutorials/using-branches);

[2016-11-18 12:32] naggie commented on #378
"Pro git" is also good https://git-scm.com/book/en/v2

[2016-11-23 13:45] ZaneDubya opened #459 "QA: Make sure new text layout changes don't break controls that use RenderedText."
Significant text layout changes were introduced with the book gump. The new text layout code fixes edge cases that were possible with the old code, but might introduce new bugs. All existing controls/gumps that use the RenderedText class should be checked to make sure they don't break.

[2016-11-23 18:57] ZaneDubya opened #460 "Features additions for BookGump / TextEntryPage"
- [ ] Delete Key Support
- [ ] Paste with Ctrl-V.

[2016-11-23 19:28] #370 closed

[2016-11-25 22:32] ZaneDubya commented on #391
Fixed - I think - in the new book gump pr.

[2016-11-25 22:32] #391 closed

[2016-11-26 01:12] ZaneDubya commented on #358
This has been fixed with the new book gump text render code.

[2016-11-26 01:12] #358 closed

[2016-11-27 14:48] ZaneDubya commented on #378
Merged. Thanks @uoitalia !

[2016-11-27 14:48] #378 closed

[2016-11-27 16:07] ZaneDubya commented on #426
Fixed. Thanks for reporting @ShiniHatsune !

[2016-11-27 16:07] #426 closed

[2016-11-27 16:45] ZaneDubya commented on #362
Ok! This should be fixed now. @robertdeclaux , please comment if it's still causing an issue.

[2016-11-27 16:45] #362 closed

[2016-11-28 16:18] ZaneDubya commented on #445
Per @hifi, paths now load in nix. I'll try to be aware of this in the future.

[2016-11-28 16:18] #445 closed

[2016-12-08 11:22] SaschaKP commented on #351
If you raise resolution (eg: from 800x600 to 1200x960) and exit from the game && re-enter, reopening the client, the window is mis-placed and half the screen is not visible, there is no way to fix this, until you delete the file settings.cfg && the backup one, I think the GAME window is not centered correctly.

[2016-12-10 02:12] DarkLotus commented on #364
DisplayGumpFast is not the same packet as DisplayMenu.

Old pre LBR/t2a clients used DisplayMenu for the craft menu's ala sphere craft menu's

DisplayGumpFast is a standard gump not a menu but compressed instead of sent as plain text. Which is only used on newer clients from AoS onwards i think.

[2016-12-15 07:33] SaschaKP commented on #382
It's really simple to do, at least for the grass part, every item present in ItemData has the "foliage", we can check that, but I don't think it was really used by original client for various reasons.
On the other side, in landdata we have to create a dictionary || hashset where there are all the numbers we need to check, if present and you are walking exactly in that position, your footstep sound

[2016-12-15 16:51] ZaneDubya commented on #382
Hmm... do you think we could check by tile name? I think the tile names are generally shared.

[2016-12-15 17:14] SaschaKP commented on #382
I'll give it a try, It won't hurt.

[2017-08-29 01:30] orsi opened #469 "Elemental death animation doesn't end; dead mobiles health bars stay open"
![image](https://user-images.githubusercontent.com/7156655/29800395-d364a2fa-8c37-11e7-954f-83cece4765e7.png)

Not thoroughly tested, but elementals seem to have their animations stuck on the one of the last frames when dying.

Also, mobiles that die don't have their health bars close after death.

[2017-09-06 00:24] orsi commented on #376
I started implementing these packets in [feature-healthBarPackets](https://github.com/jorsi/UltimaXNA/tree/feature-healthBarPackets) but have paused development.

Packet 0x16 is nowhere in the RunUO codebase, and 0x17 is only used in Stygian Abyss. Should these be in the current milestone?

[2018-01-04 23:19] yazeed opened #471 "Is this project still alive?"
I wonder if this project is still alive.

[2018-01-05 08:07] naggie commented on #471
I hope so.

[2018-01-05 08:47] msx752 commented on #471
i think dead..

[2018-01-05 09:20] arthurasrossi commented on #471
This project is neither alive nor dead. It has been put on pause because the real world got in the way; life happens. If you are looking for an alternative client for Ultima Online do a google search for ‘Orion *Ultima Online Client’. This one is written in C++, but it is also open source and the developers have been dedicated to its success; so they constantly fix bugs and add features to make al

[2018-08-29 13:18] AzRieil opened #472 "transparent static bugs"
![screenshot_155](https://user-images.githubusercontent.com/16318719/44790063-f2217580-aba6-11e8-822e-826f7852c70a.png)
after adding transparent flag support to the client a lot of bugs is appear. a strange border around tile and random black squads changed as character move. is transparent not released ?

[2018-08-31 06:59] PatrikSamuelTauchim commented on #472
Hi,
 just out of curiuosity, can you post screenshot from original client? To compare.

[2018-09-23 14:45] AzRieil commented on #472
https://clip2net.com/s/3WQXGBe
sand as tiledate and static water

and few questom more -
i cant find any realization of torch/candle light circles. dont did it or miss some packets handlers?
and i can target land tiles. world.input.mouse.mouseOverGround storage only statics, its a big problem for me, but i failed to change it from client.

[2018-12-10 23:08] andreakarasho commented on #472
Hi guys.
I think the author stopped to develop ultimaxna.
About this i want share with your a new project: https://github.com/andreakarasho/ClassicUO

[2018-12-10 23:09] nydehi commented on #472
Ms killed xna

On Mon, Dec 10, 2018, 6:08 PM Andrea Angelini <notifications@github.com
wrote:

[2021-11-25 03:45] orsi commented on #469
It's been a long while, but I think I need to close this :(

[2021-11-25 03:45] #469 closed